<p>Hallo,</p>

<p>eine neue Organisation mit Namen {{ngo}} hat sich registriert.</p>

<ul>
<li>Email: {{email}}</li>
<li>Adresse: {{address}}</li> 
<li>Telefon: {{phone}} </li>
<li>Ansprechperson: {{contact}}</li> 
<li>Web Page: {{webpage}} </li>
</ul>

<p />

<b>Bitte innerhalb von einem Werktag kontakieren.</b>


<p>Der JoReDa Server</p>
