Hallo,

eine neue Organisation mit Namen {{ngo}} hat sich registriert.

Email: {{email}}
Adresse: {{address}} 
Telefon: {{phone}} 
Ansprechperson: {{contact}} 
Web Page: {{webpage}} 


Bitte innerhalb von einem Werktag kontakieren.


Der JoReDa Server
