<div class="container">  

  <h3 class="center">JoReDa Report {{date}}</h3>

	  <h4>Hilfsanfragen</h4>
	  
	    <table style="width:100%">
	      <tr>
	        <th>Organisation</th>
	        <th>Anzahl der laufenden Anfragen</th> 
	      </tr>
	
	        {{#each customers}}
	        
	        <tr>
	            <td>{{this.cu_full_name}}</td>
	            <td>{{this.count}}</td> 
	        </tr>
	        
	        {{/each}}
	
	        <tr>
	            <td>Gesamt</td>
	            <td>{{count}} (Ziel > 50)</td> 
	        </tr>
	      
	    </table>
	
	  <h4>Organisationen</h4>
	
	    <table style="width:100%">
	      <tr>
	        <th>Alle Organisationen</th>
	      </tr>
	
	        {{#each allCustomers}}
	        
	        <tr>
	            <td>{{this.cu_full_name}}</td>
	        </tr>
	        
	        {{/each}}
	      
	    </table>
	
	
	  <h4>Zugriffe {{counts.co_day_string}}</h4>
	
	    <table style="width:100%">
	      <tr>
	        <th>Seite</th>
	        <th>Zugriffe</th>
	      </tr>
	
	        <tr>
	            <td>Landing Page</td>
	            <td>{{counts.co_landing_page}}</td>
	        </tr>
	        <tr>
	            <td>Anfragen (nicht registrierter User)</td>
	            <td>{{counts.co_requests_static}}</td>
	        </tr>
	        <tr>
	            <td>Anfragen (registrierter User)</td>
	            <td>{{counts.co_requests}}</td>
	        </tr>
	        <tr>
	            <td>Karte</td>
	            <td>{{counts.co_map}}</td>
	        </tr>
	        <tr>
	            <td>Orte</td>
	            <td>{{counts.co_places}}</td>
	        </tr>
	        
	      
	    </table>


    
</div>









