help2day Report {{date}}

Organisation, Anzahl der laufenden Anfragen
---------------------------------
{{#each customers}}
{{this.cu_full_name}}, {{this.count}}
{{/each}}

Alle Organisationen

{{#each allCustomers}}
{{this.cu_full_name}}
{{/each}}

Gesamt {{count}} (Ziel > 50)


Zugriffe

Landing Page {{counts.co_landing_page}}
Anfragen (nicht registrierter User) {{counts.co_requests_static}}
Anfragen (registrierter User) {{counts.co_requests}}
Karte {{counts.co_map}}
Orte {{counts.co_places}}

