<!DOCTYPE html>
<html>
<head>
<title>Helfen tut gut</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<meta name="description" content="helfen-tut-gut.de zeigt aktuelle Hilfsanfragen. Als Helfer kannst du damit schnell herausfinden wo du in deiner Nähe helfen kannst." />
<meta name="keywords" content="helfen, hilfe, freiwillig, sachspende, hilfeleistung, ngo, hilfsanfrage, helfen-tut-gut.de, volunteer, zeitspende, non profit" />
<meta name="news_keywords" content="sachspende, hilfeleistung, zeitspende, freiwillig, helfen, ngo, non profit" />

{{#if promotion}}
<meta name="geo.position" content="{{promotion.li_lat}};{{promotion.li_long}}" />
<meta property="og:image" content="{{image_url}}/{{promotion.pr_gift_image_reference}}_500" />
<meta property="og:url" content="{{{deeplink_url}}}/{{promotion.pr_instance_id}}" />
<meta property="og:title" content="Hilfsanfrage auf JoReDa" />
<meta property="og:description" content="{{promotion.pr_gift_comment}} @ {{promotion.li_comment}}" />
{{/if}}

{{#if startpage}}
<meta property="og:image" content="{{image_url}}/38993a0eee77d7159f46dce65c7b32a5" />
<meta property="og:url" content="https://helfen-tut-gut.de" />
<meta property="fb:app_id" content="{{facebook_app_id}}">
<meta property="og:title" content="helfen-tut-gut" />
<meta property="og:description" content="gemeinsam helfen, zur richtigen zeit, am richtigen ort" />
{{/if}}

<link rel="stylesheet" href="/stylesheets/font-awesome.css">
<link rel="stylesheet" href="/stylesheets/font-asap.css">
<script src="/dist/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="/dist/components/accordion.css">
<link rel="stylesheet" type="text/css" href="/dist/components/dimmer.css">
<link rel="stylesheet" type="text/css" href="/dist/components/embed.css">
<link rel="stylesheet" type="text/css" href="/dist/components/reset.css">
<link rel="stylesheet" type="text/css" href="/dist/components/site.css">
<link rel="stylesheet" type="text/css" href="/dist/components/container.css">
<link rel="stylesheet" type="text/css" href="/dist/components/grid.css">
<link rel="stylesheet" type="text/css" href="/dist/components/header.css">
<link rel="stylesheet" type="text/css" href="/dist/components/image.css">
<link rel="stylesheet" type="text/css" href="/dist/components/menu.css">
<link rel="stylesheet" type="text/css" href="/dist/components/label.css">
<link rel="stylesheet" type="text/css" href="/dist/components/message.css">
<link rel="stylesheet" type="text/css" href="/dist/components/card.css">
<link rel="stylesheet" type="text/css" href="/dist/components/divider.css">
<link rel="stylesheet" type="text/css" href="/dist/components/dropdown.css">
<link rel="stylesheet" type="text/css" href="/dist/components/segment.css">
<link rel="stylesheet" type="text/css" href="/dist/components/form.css">
<link rel="stylesheet" type="text/css" href="/dist/components/input.css">
<link rel="stylesheet" type="text/css" href="/dist/components/button.css">
<link rel="stylesheet" type="text/css" href="/dist/components/list.css">
<link rel="stylesheet" type="text/css" href="/dist/components/icon.css">
<link rel="stylesheet" type="text/css" href="/dist/components/sidebar.css">
<link rel="stylesheet" type="text/css" href="/dist/components/transition.css">
<link rel="stylesheet" type="text/css" href="/dist/components/checkbox.css">
<link rel="stylesheet" type="text/css" href="/dist/components/modal.css">
<link rel="stylesheet" type="text/css" href="/dist/components/statistic.css">
<link rel="stylesheet" type="text/css" href="/dist/components/dropdown.css">
<link rel="stylesheet" type="text/css" href="/dist/components/table.css">
<link rel="stylesheet" type="text/css" href="/dist/components/rating.css">
<link rel="stylesheet" type="text/css" href="/dist/components/step.css">
<link rel="stylesheet" type="text/css" href="/dist/components/feed.css">



<script src="/js/jquery-ui.js"></script>
<link  href="/dist/cropper.css" rel="stylesheet">
<script src="/dist/cropper.js"></script>

<script src="/dist/components/accordion.js"></script>
<script src="/dist/components/dimmer.js"></script>
<script src="/dist/components/embed.js"></script>
<script src="/dist/components/dropdown.js"></script>
<script src="/dist/components/checkbox.js"></script>
<script src="/dist/components/visibility.js"></script>
<script src="/dist/components/sidebar.js"></script>
<script src="/dist/components/transition.js"></script>
<script src="/dist/components/form.js"></script>
<script src="/dist/components/api.js"></script>
<script src="/dist/components/modal.js"></script>
<script src="/dist/dropzone.js"></script>
<!-- SMA Slider -->
    <script src="js/jssor.slider-27.5.0.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        jssor_1_slider_init = function() {

            var jssor_1_SlideoTransitions = [
              [{b:-1,d:1,o:-0.7}],
              [{b:900,d:2000,x:-379,e:{x:7}}],
              [{b:900,d:2000,x:-379,e:{x:7}}],
              [{b:-1,d:1,o:-1,sX:2,sY:2},{b:0,d:900,x:-171,y:-341,o:1,sX:-2,sY:-2,e:{x:3,y:3,sX:3,sY:3}},{b:900,d:1600,x:-283,o:-1,e:{x:16}}]
            ];

            var jssor_1_options = {
              $AutoPlay: 1,
              $SlideDuration: 1500,
              $SlideEasing: $Jease$.$OutQuint,
              $CaptionSliderOptions: {
                $Class: $JssorCaptionSlideo$,
                $Transitions: jssor_1_SlideoTransitions
              },
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
              },
              $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
              }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            /*#region responsive code begin*/

            var MAX_WIDTH = 3000;

            function ScaleSlider() {
                var containerElement = jssor_1_slider.$Elmt.parentNode;
                var containerWidth = containerElement.clientWidth;

                if (containerWidth) {

                    var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

                    jssor_1_slider.$ScaleWidth(expectedWidth);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }

            ScaleSlider();

            $Jssor$.$AddEvent(window, "load", ScaleSlider);
            $Jssor$.$AddEvent(window, "resize", ScaleSlider);
            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
            /*#endregion responsive code end*/
        };
    </script>




<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">









<link rel="stylesheet" type="text/css" href="/stylesheets/sig.css">

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/sma_style.css">
</head>

<body>
{{{body}}}
</body>
</html>