<div class="container">  

  <h3 class="center">Password Reset für JoReDa Account</h3>
  
  <br />
  
  <p>Das Password wurde geändert. </p>

  <br />
  
  <p>Danke für deine Unterstützung,</p>
    
  <p>Das Team von JoReDa</p>

  <br />
    
</div>
