
<div class="ui inverted vertical footer segment">
	<div class="ui container">
		<div
			class="ui stackable inverted divided equal height stackable grid">
			<div class="three wide column">
				<h4 class="ui inverted header">Über uns</h4>
				<div class="ui inverted link list">
                
                    <a href="https://www.johanniter.de/" class="item">Homepage</a>
                    <a href="https://www.johanniter.de/service/impressum/" class="item">Impressum</a>
                    <a href="https://www.johanniter.de/service/datenschutzerklaerung/" class="item">Nutzungsbedingungen</a>
					<a href="/opensource" class="item">Open Source</a>
				</div>
			</div>
            
			<div class="three wide column">
            
				<h4 class="ui inverted header">Services</h4>
				<div class="ui inverted link list">
					<a href="/login"	class="item">CRM</a> 
					<a href="/contact" class="item">Kontakt</a>
                    {{#if user.us_mitarbeiter}}
                    <a href="/manual/crm.pdf" class="item">Handbuch</a>
                    {{/if}}
				</div>
			</div>

			<div class="nine wide column">
				<h4 class="ui inverted header">JoReDa</h4>
				<em>
                
Wir stellen die Kommunikation zwischen Hilfsorganisationen und Helfern her.
Dazu sprechen wir bei konkreten Hilfsanliegen alle relevanten Helfer an und bringen sie zur richtigen Zeit an den richtigen Ort. 
Dabei ist für alle Beteiligten transparent, was wer wann macht. 
Unser Belohnungs- und Bewertungssystem stellt die Verbindlichkeit der Hilfeleistung sicher. 
                
                </em>
				
			</div>
		</div>
	</div>
</div>
