<div class="ui basic vertical inverted segment">
    <div class="ui large inverted secondary menu">
        <div class="item">
              <a class="ui logo icon image" href="/">
                <img src="/favicon-32.png">
              </a>
        </div>
    
    
        <a class="item" href="/"> Home </a>
        
    </div>
</div>



<div class="ui basic vertical segment padding">
</div>


{{#if message}}
<div class="ui basic vertical segment padding">
    <div class="ui one column centered stackable grid container">

        <div class="ui ten wide centered column">
            <div class="ui icon warning message">
              <i class="warning icon"></i>
              <div class="header">
                {{message}}
              </div>
            </div>
        </div>
    </div>
</div>
{{/if}}

