<div class="ui basic vertical inverted segment">

    <div class="ui large inverted secondary menu">
        <div class="item">
              <a class="ui logo icon image" href="/">
                <img style="height:40px;" src="/images/DieJohanniter_AusLiebeZumLeben.png">
              </a>
        </div>
    
        <a class="item" href="/main"> Home </a>
        {{#if user.us_mitarbeiter}}
            <a class="item" href="/promotions">Hilfsanfragen </a>
        {{/if}}
        
        <a class="item" href="/hotspots">Standorte </a>
        
        {{#if user.us_mitarbeiter}}
            <a class="item" href="/recipients">Empfängerliste</a>
            <a class="item" href="/roles">Rollen</a>
        {{/if}}
        
        {{#if user.us_superadmin}}
            <a class="item" href="/customers">NGOs</a>
        {{/if}}
        
        
        <div class="right menu">
        
            <a class="item" href="/settings"><i class="ui settings icon"></i>{{user.us_nickname}}</a> 
            
            <div class="item">
                {{#if user.us_mitarbeiter}}
                   <a class="item" href="/settings#roles">{{user.us_role}} @</a>
                {{/if}}
                
                {{#if user.us_admin}}
                    <a class="item" href="/settings/customer"><img src="{{image_url}}/{{user.us_role_image}}"></a>
                {{else}}
                    {{#if user.us_mitarbeiter}}
                        <img src="{{image_url}}/{{user.us_role_image}}">
                    {{/if}}
                {{/if}}
                
            </div>
            <a class="ui item" href="/logout"> Logout </a>
        </div>
    </div>
</div>


<div class="ui basic vertical segment padding">
</div>


{{#if message}}
<div class="ui basic vertical segment padding">
    <div class="ui one column centered stackable grid container">

        <div class="ui ten wide centered column">
            <div class="ui icon warning message">
              <i class="warning icon"></i>
              <div class="header">
                {{message}}
              </div>
            </div>
        </div>
    </div>
</div>
{{/if}}


