<p>Hallo Liebes Team von {{ngo}},</p>

<p>wir bedanken uns herzlich für die Registrierung bei JoReDa und heißen euch willkommen auf unserer Platform.</p>

<p>Folgende Daten wurden bei uns registriert:</p>
<ul>
<li>Email: {{email}}</li>
<li>Adresse: {{address}}</li> 
<li>Telefon: {{phone}} </li>
<li>Ansprechperson: {{contact}}</li> 
<li>Web Page: {{webpage}} </li>
</ul>

<p>Wir werden uns in Kürze melden um die Registrierung abzuschliessen. In der Zwischenzeit bitten wir um die Anmeldung mit der genannten eMail Adresse auf unserer Platform. 
Bitte dazu folgenden Link <a href="">https://crm.help2day.org/signup</a> verwenden.</p>

<p />


<p>Liebe Grüsse, das Team von JoReDa</p>
