Hallo Liebes Team von {{ngo}},

wir bedanken uns herzlich für die Registrierung bei JoReDa und heißen euch willkommen auf unserer Platform.

Folgende Daten wurden bei uns registriert:

Email: {{email}}
Adresse: {{address}} 
Telefon: {{phone}} 
Ansprechperson: {{contact}} 
Web Page: {{webpage}} 

Wir werden uns in Kürze melden um die Registrierung abzuschliessen. 
In der Zwischenzeit bitten wir um die Anmeldung mit der genannten eMail Adresse auf unserer Platform. 
Bitte dazu folgenden Link https://crm.help2day.org/signup verwenden.


Liebe Grüsse, 

das Team von JoReDa
