/* asap-400normal - latin */
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/asap-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Asap Regular '),
    local('Asap-Regular'),
    url('../fonts/asap-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/asap-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/asap-latin-400.woff') format('woff'), /* Modern Browsers */
    url('../fonts/asap-latin-400.svg#asap') format('svg'); /* Legacy iOS */
}

/* asap-400italic - latin */
@font-face {
  font-family: 'Asap';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/asap-latin-400italic.eot'); /* IE9 Compat Modes */
  src:
    local('Asap Regular italic'),
    local('Asap-Regularitalic'),
    url('../fonts/asap-latin-400italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/asap-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/asap-latin-400italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/asap-latin-400italic.svg#asap') format('svg'); /* Legacy iOS */
}

/* asap-500normal - latin */
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/asap-latin-500.eot'); /* IE9 Compat Modes */
  src:
    local('Asap Medium '),
    local('Asap-Medium'),
    url('../fonts/asap-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/asap-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/asap-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../fonts/asap-latin-500.svg#asap') format('svg'); /* Legacy iOS */
}

/* asap-500italic - latin */
@font-face {
  font-family: 'Asap';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/asap-latin-500italic.eot'); /* IE9 Compat Modes */
  src:
    local('Asap Medium italic'),
    local('Asap-Mediumitalic'),
    url('../fonts/asap-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/asap-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/asap-latin-500italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/asap-latin-500italic.svg#asap') format('svg'); /* Legacy iOS */
}

/* asap-700normal - latin */
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/asap-latin-700.eot'); /* IE9 Compat Modes */
  src:
    local('Asap Bold '),
    local('Asap-Bold'),
    url('../fonts/asap-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/asap-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/asap-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/asap-latin-700.svg#asap') format('svg'); /* Legacy iOS */
}

/* asap-700italic - latin */
@font-face {
  font-family: 'Asap';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/asap-latin-700italic.eot'); /* IE9 Compat Modes */
  src:
    local('Asap Bold italic'),
    local('Asap-Bolditalic'),
    url('../fonts/asap-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/asap-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/asap-latin-700italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/asap-latin-700italic.svg#asap') format('svg'); /* Legacy iOS */
}

