/* Banner */
/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/*jssor slider bullet skin 032 css*/
.jssorb032 {
    position:absolute;
}
.jssorb032 .i {
    position:absolute;
    cursor:pointer;
}
.jssorb032 .i .b {
    fill:#fff;
    fill-opacity:0.7;
    stroke:#9F0E0E;
    stroke-width:1200;
    stroke-miterlimit:10;
    stroke-opacity:0.25;
}
.jssorb032 .i:hover .b {
    fill:#9F0E0E;
    fill-opacity:.6;
    stroke:#fff;
    stroke-opacity:.35;
}
.jssorb032 .iav .b {
    fill:#9F0E0E;
    fill-opacity:1;
    stroke:#fff;
    stroke-opacity:.35;
}
.jssorb032 .i.idn {
    opacity:.3;
}

/*jssor slider arrow skin 051 css*/
.jssora051 {
    display:block;
    position:absolute;
    cursor:pointer;
}
.jssora051 .a {
    fill:none;
    stroke:#fff;
    stroke-width:360;
    stroke-miterlimit:10;
}
.jssora051:hover {
    opacity:.8;
}
.jssora051.jssora051dn {
    opacity:.5;
}
.jssora051.jssora051ds {
    opacity:.3;pointer-events:none;
}

#jssor_1 {
    position:relative;
    margin:0 auto;
    top:0px;
    left:0px;
    width:1300px;
    height:300px;
    overflow:hidden;
    visibility:hidden;
    top: 4em;

}

.jssorl-009-spin {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    text-align:center;
    background-color:rgba(0,0,0,0.7);
}

.jssorl-009-spin img {
    margin-top:-19px;
    position:relative;
    top:50%;
    width:38px;
    height:38px;
}

#jssor_1 .slider{
    cursor:default;
    position:relative;
    top:0px;
    left:0px;
    width:1300px;
    height:300px;
    overflow:hidden;
}

#jssor_1 .slider_text{
    position: absolute;
    bottom: 1em;
    left: 5em;
    width: 30em;
    /* height: 130px; */
    max-height: 13em;
    font-family: 'Roboto Condensed',sans-serif;
    /* font-size: 40px; */
    color: #000000;
    line-height: 1.5;
    padding: 0.75em;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.5);
    background-clip: padding-box;
}
.slider__caption-headline {
        /* font-size: 5rem; */
    /* line-height: 115%; */
    margin-bottom: 0.75rem;
}
.slider__caption-content {
        /* font-size: 1.7rem; */
    /* line-height: 145%; */
    text-align: justify;
    font-size: 12px;
    /* margin-bottom: 10px; */
    /* font-family: open_sanslight,Arial,Helvetica,sans-serif; */
}
.slider__caption-link {
    padding: 0 40px;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
    position: relative;
    height: 60px;
    display: table;
    margin-right: 30px;
    background-color: #fff;
    bottom: 0.3em;
    left: 2em;
}
.slider__caption-link:after {
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
    top: 50%;
    margin-top: -30px;
    right: -30px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #fff;
    content: '';
    display: block;
    position: absolute;
}

.slider__caption-link span {
    display: table-cell;
    vertical-align: middle;
    /* font-family: open_sansbold,Arial,Helvetica,sans-serif; */
    /* line-height: 130%; */
    /* font-size: 1.8rem; */
    /* text-transform: uppercase; */
}

/* Slider 2 */
.sliderElements2,
.sliderElements2 figure,
.sliderControls2 {
    margin: 0;
}
 
.sliderElements2:after {
    content: ".";
    display: block;
    height: .1px;
    clear: both;
    visibility: hidden;
    font-size: 0;
    overflow: hidden;
}
 
.cssSlider2 {
    overflow-x: hidden;
    width: 100%;
}
 
.sliderElements2 {
    list-style: none;
    position: relative;
    left: 0;
    width: 400%;
    margin-bottom: .8em;
    padding: 0;
    -webkit-transition: left .8s ease-in-out;
    -moz-transition: left .8s ease-in-out;
    -o-transition: left .8s ease-in-out;
    transition: left .8s ease-in-out;
}
 
.sliderElements2 > li {
    float: left;
    width: 25%;
    position: relative;
}
 
#hilfsanfrage_1:checked ~ .sliderElements2 {
    left: -100%;
}
 
#hilfsanfrage_2:checked ~ .sliderElements2 {
    left: -200%;
}
 


 
/* Bildunterschrift auf dem Bild positionieren */
.sliderElements2 figcaption {
    display: block;
    text-align: justify;
    color: #fff;
    position: absolute;
    left: 3em;
    top: 10em;
    width: 30em;
    bottom: 1em;
    padding: .4em;
    background: rgba(0,0,0,.5);
}
 
/* Bilder responsive */
.sliderElements2 img {
    width: 100%;
    height: auto;
}
 
 
/* inputs aus dem Blickfeld schieben */
.cssSlider2 input {
    position: absolute;
    left: -99999px;
}
 
/* mittige Ausrichtung der Controls - funktioniert im Zusammenspiel mit inline-block */
.sliderControls2 {
    text-align: center;
    padding: 0;
    width: auto;
}
 
/* Controls nebeneinander bringen */
.sliderControls2 li {
    display: inline-block;
}
 
/* Controls auf einheitliche Maße bringen und die Ecken abrunden */
.sliderControls2 label {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    background: #9F0E0E;
    color: #9F0E0E;
}
 
/* Attributselektor und indirekter Nachfahrkombinator zum ansteuern der labels */
.sliderControls2 label:hover,
#hilfsanfrage_0:checked ~ .sliderControls label[for="hilfsanfrage_0"],
#hilfsanfrage_1:checked ~ .sliderControls label[for="hilfsanfrage_1"],
#hilfsanfrage_3:checked ~ .sliderControls label[for="hilfsanfrage_2"] {
    background: #ddd;
    color: #ddd;
}

.c-figure--stage .figure__caption {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    color: #fff;
    left: 110px;
    position: absolute;
    width: 590px;
    z-index: 10;
}

.c-cta--arrow-white {
    padding: 0 40px;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
    position: relative;
    height: 60px;
    display: table;
    margin-right: 30px;
}
.c-cta--arrow-white span {
    display: table-cell;
    vertical-align: middle;
    font-family: open_sansbold,Arial,Helvetica,sans-serif;
    line-height: 130%;
    text-transform: uppercase;
}
.c-cta--arrow-white, .c-cta--service, .c-list--nav-sub .list__element {
    background-color: #fff;
}
.c-cta--arrow-white, .c-cta--navigation-content, .c-cta--service, .c-list--nav-sub .list__element {
    color: #9F0E0E;
}
[data-css=c-cta] {
    display: inline-block;
    position: absolute;
    padding-top: 1.25em;
    margin-left: 2em;
    text-decoration: none;
    text-align: center;
}
/*.b-iframe .iframe__cover a::after, .b-particle--aside-contact .is-details::after, .b-particle--aside-contact .is-mail::after, .b-particle--aside-contact .is-mail::before, .b-particle--aside-contact .is-tel::before, .b-particle-form .particle-form__wrapper .particle-form__link::after, .b-results .results__link::after, .b-search .search__submit:after, .b-stage-cta .stage-cta__content-link .stage-cta__headline::after, .c-cta--arrow-white:after, .c-cta--content::after, .c-cta--donations .cta__content::after, .c-cta--map-filter:after, .c-cta--news span::after, .c-cta--service:after, .c-figure--jobs::after, .c-figure--stage::after, .c-form--filter .form__check label::after, .c-form--filter .form__check label::before, .c-form--filter.is-loading::after, .c-form--particle .form__button-info::after, .c-form--particle .form__info-box::after, .c-form--particle .form__radio label::after, .c-form--particle .form__radio label::before, .c-form--particle .form__submit-send::after, .c-form--particle.is-loading::after, .c-form--stage .form__submit-send:after, .c-form--standard .form__check label::after, .c-form--standard .form__check label::before, .c-form--standard .form__radio .form__radio-elements label::after, .c-form--standard .form__radio .form__radio-elements label::before, .c-list--breadscroller .list__item:after, .c-list--content li>::after, .c-list--footer-socials .list__element:after, .c-list--location-results-links .list__element::after, .c-list--offers-links .list__element::after, .c-list--pager .list__element.is-meta-btn::before, .c-list-content--ol li::before, .c-list-content--ul li::before, .c-quote .quote__content::before, .c-teaser--career-list .teaser__inner-link::after, .c-teaser--career-text-bottom .teaser__inner-link::after, .c-teaser--career-text-top .teaser__inner-link::after, .c-teaser--contacts::before, .c-teaser--entrance .teaser__inner-link::after, .c-teaser--list .teaser__inner-link::after, .c-teaser--marginal-contact .teaser__content-inner .is-fax::before, .c-teaser--marginal-contact .teaser__content-inner .is-location::before, .c-teaser--marginal-contact .teaser__content-inner .is-mail::before, .c-teaser--marginal-contact .teaser__content-inner .is-phone::before, .c-teaser--marginal-contact .teaser__headline-addition a::after, .c-teaser--marginal-image-text .teaser__content>a span::after, .c-teaser--news .teaser__inner-link::after, .c-teaser--service .teaser__link::after, .form__wrapper>p a::after, .is-standard::after, .is-teaserlist-full span::after, .m-accordion--default .accordion__footer-link::after, .m-accordion--default .accordion__headline::after, .m-button--entrance .button__text::after, .m-button--faq::after, .m-button--location-results::after, .m-button--search::after, .m-carousel--micro-slider .carousel__pagination-icon::after, .m-donator--default .donator__list-item.js-is-active::after, .section--location-results .section__header-link::before, [data-css=b-breadscroller] .breadscroller__controls-icon::after, [data-css=b-pagination] .pagination__next::after, [data-css=b-pagination] .pagination__previous::after, [data-css=c-content-teaser] .content-teaser__content a::after, [data-css=c-content-teaser] .content-teaser__footer-link::after, [data-css=c-figure] .figure__lightbox-link::after, [data-css=c-form] .form__reset-button::before, [data-css=c-form] .form__select .form__select-placeholder::after, [data-css=c-form] .is-disabled::after, [data-css=c-rte] .quote::before, [data-css=c-rte] ol li::before, [data-css=c-rte] ul li::before, [data-css=c-tableresponsive] .is-entry .tableresponsive__header .teaser__link:after, [data-css=c-tableresponsive] .is-header a:after, [data-css=m-gps]::after, [data-css=m-map] .is-loading::after, [data-css=m-map] .is-loading::before, [data-css=m-map] .map__item-address-wrapper::before, [data-css=m-map] .map__item-contact-wrapper .is-item::before, [data-css=m-map] .map__item-footer a::after, [data-css=m-map] .map__list-btn::after, [data-css=m-map] .map__list-close-btn::after, [data-css=m-map] .map__marker-address-wrapper::before, [data-css=m-map] .map__marker-close::after, [data-css=m-map] .map__marker-contact-wrapper .is-item::before, [data-css=m-map] .map__marker-footer a::after, [data-css=m-map] .map__marker::after, [data-css=m-map] .map__overlay-list-btn::after, [data-css=m-map] .map__overlay-list-headline::after, [data-css=m-map] .map__overlay-list-show::after, [data-css=m-map] .map__zoom-btn::after, [data-css=m-totop] .totop__inner::after, [data-js-module=carousel].is-unresolved::after {
    content: '';
    display: block;
    position: absolute;
} */
.c-cta--arrow-white:after {
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
    top: 50%;
    margin-top: -30px;
    right: -30px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #fff;
}
.ui.stackable.grid {
     margin: 1em !important; 
}
.ui .row {
    margin-top: 0px;
    width: 100%;
}

.ui .row h2 {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 2em;
}

/* .row .promotion-title-box title {
    background-color: #fff;
} */
.sliderElements2 .column {
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-align: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.promotion-title-box {
    background-color: rgba(255, 255, 255, 1);
    border: 0px;
    box-shadow: none;
    margin-top: 0.3em;
    padding: 0.5em;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    position: relative;
}
.promotion-content-box {
    background-color: rgba(255, 255, 255, 1.0);
    border-top: 1px solid #ecebeb;
    margin-top: 0px;
}
/*MBR Test*/
h2.ui.header {
    font-size: 2.2rem;
}
.ui.header:last-child{
    margin-bottom: 0.5em;
}
.ui.three.cards > .card {
    width: calc( 33.33333333%  -  2em );
    margin-left: 1.2em;
    margin-right: 0.5em;
}

/* Responsiv Anpassungen */

@media only screen and (max-width: 991px) and (min-width: 768px) {
    /* breite Browserfenster */
    #jssor_1 {
        top: 0em;
    }
    .ui.stackable.grid {
        margin: auto !important; 
    }
    .ui .row h2 {
        padding-bottom: 10px;
        padding-top: 0px;
        font-size: 2em;
    }

    .r-stage-box {
        position: relative;
        /* bottom: -8.5em; */
        width: 100%;
        /* margin-top: 1em; */
        /* right: 50px; */
        left: unset;
        z-index: 10;
        top: unset;
    }
    
    .b-stage-cta {
        background-color: #ecebeb;
        width: calc( 723px + 2rem );
        display: flex;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 1em;
    } 
    .stage-cta__content, .stage-cta__link {
        width: 100%;
        padding: 1em;
        float: left;
    }
    .stage-cta__content a, .stage-cta__link a {
        background-color: #fff;
        float: left;
        width: 100%;
        margin-bottom: 0px !important;
    }
    .sliderElements2 .column {
        background-color: #FFFFFF; 
        height: 490px; 
        width: 14.34277296em;
        float: left; 
        margin-left: 0.35em; 
        margin-right: 0.35em;
        text-align: left;
    }
    .sliderElements2 .column .promotion-icon {
        width: 100%;
        height: 10em;
        /* object-fit: cover; */
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
    }
    /* .sliderElements2 .column .promotion-icon img {
        object-fit: cover;
        max-width: none;
        max-height: -webkit-fill-available;
        min-height: 100%;
        object-position: center;
    } */
    .sliderElements2 .column .promotion-title-box {
        background-color: unset;
    }
    .sliderElements2 .column .promotion-date-title {
        width: 11.40em;
        background: rgb(255,255,255,0.75);
        /* margin: -21px; */
        /* margin-top: -3px; */
        position: absolute;
        top: 20px;
    }
    .sliderElements2 .column .promotion-content-text {
        text-align: justify;
        height: 115px;
    }
    /* mittige Ausrichtung der Controls - funktioniert im Zusammenspiel mit inline-block */
.sliderControls2 {
    text-align: center;
    padding: 0;
    width: 45em;
    }
.ui.header:last-child{
    margin-bottom: 0.5em;
    }
  }
  @media only screen and (max-width: 1199px) and (min-width: 992px) {
    #jssor_1 {
        top: 0em;
    }
    .ui.stackable.grid {
        margin: auto !important; 
    }
    .r-stage-box {
        content: '';
        display: block;
        position: absolute;
        bottom: -8.5em;
        width: 320px;
        right: 50px;
        z-index: 10;
        content: '';
        display: block;
        position: absolute;
        left: unset;
        top: unset;
    }
    
    .b-stage-cta {
        background: #fff;
        width: 100%;
        display: block;
    } 
    .stage-cta__content, .stage-cta__link {
        width: unset;
        float: unset;
        padding: unset;
    }
    .stage-cta__content a, .stage-cta__link a {
        background-color: unset;
        float: unset;
        width: unset;
        margin-bottom: 20% !important;
    }
    .sliderElements2 .column {
        background-color: #FFFFFF; 
        height: 470px; 
        width: 18.73828048706em;
        float: left; 
        margin-left: 0.35em; 
        margin-right: 0.35em;
        text-align: left;
    }
    .sliderElements2 .column .promotion-icon {
        width: 100%;
        height: 10em;
        /* object-fit: cover; */
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
    }
    .sliderElements2 .column .promotion-icon img {
        object-fit: cover;
        max-width: none;
        max-height: -webkit-fill-available;
        min-height: 100%;
        object-position: center;
    }
    .sliderElements2 .column .promotion-title-box {
        background-color: unset;
    }
    .sliderElements2 .column .promotion-date-title {
        width: 15.75em;
        background: rgb(255,255,255,0.75);
        /* margin: -21px; */
        /* margin-top: -3px; */
        position: absolute;
        top: 20px;
    }
    .sliderElements2 .column .promotion-content-text {
        text-align: justify;
        height: 100px;
    }
    /* mittige Ausrichtung der Controls - funktioniert im Zusammenspiel mit inline-block */
    .sliderControls2 {
    text-align: center;
    padding: 0;
    width: 58em;
    }
  }
  @media only screen and (min-width: 1200px) {
    #jssor_1 {
        top: 0em;
    }
    .ui.stackable.grid {
        margin: auto !important; 
    }
    .r-stage-box {
        content: '';
        display: block;
        position: absolute;
        bottom: -8.5em;
        width: 320px;
        right: 50px;
        z-index: 10;
        content: '';
        display: block;
        position: absolute;
        left: unset;
        top: unset;
    }
    
    .b-stage-cta {
        background: #fff;
        width: 100%;
        display: block;
    } 
    .stage-cta__content, .stage-cta__link {
        width: unset;
        float: unset;
        padding: unset;
    }
    .stage-cta__content a, .stage-cta__link a {
        background-color: unset;
        float: unset;
        width: unset;
        margin-bottom: 20% !important;
    }
    .sliderElements2 .column {
        background-color: #FFFFFF; 
        height: 450px; 
        width: 22.77968673em;
        /* width: 22.4267568em; */
        float: left; 
        margin-left: 0.35em; 
        margin-right: 0.35em;
        text-align: left;
    }
    .sliderElements2 .column .promotion-icon {
        width: 100%;
        height: 10em;
        /* object-fit: cover; */
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        float: left;
        margin-right: unset;
        display: unset;
    }
    .sliderElements2 .column .promotion-icon img {
        object-fit: cover;
        max-width: none;
        max-height: -webkit-fill-available;
        min-height: 100%;
        object-position: center;
    }
    .sliderElements2 .column .promotion-title-box {
        background-color: unset;
    }
    .sliderElements2 .column .promotion-date-title {
        width: 19.90em;
        background: rgb(255,255,255,0.75);
        /* margin: -21px; */
        /* margin-top: -3px; */
        position: absolute;
        top: 20px;
    }
    .sliderElements2 .column .promotion-content-text {
        text-align: justify;
        height: 80px;
    }
    /* mittige Ausrichtung der Controls - funktioniert im Zusammenspiel mit inline-block */
    .sliderControls2 {
    text-align: center;
    padding: 0;
    width: 70em;
    }
  }