
html, body {
    font-family: Asap, Arial, sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px;
}

body {
      background-color: #FEFEFE;
    }
body > .grid {
      height: 100%;
    }
    
    
h1, h2, h3, h4, h5 
{
    font-weight: 400; 
}


.ui.header {
  font-family: 'Asap', Arial, sans-serif;
}

.ui.menu {
  font-family: 'Asap', Arial, sans-serif;
  font-weight: 400 !important;
}

.ui.menu .item {
  font-family: 'Asap', Arial, sans-serif;
  font-weight: 400 !important;
}


.image {
    }
    
.column {
    }


.ui.header
{
    font-weight: 300;
    /* color:rgba(15, 117, 188, 0.87); */
}

.ui.inverted.menu, .ui.secondary.inverted.menu, .ui.inverted.segment, .ui.primary.inverted.segment, .ui.inverted.segment
{
  /* background: #0073BF; */
   background: #FFFFFF; 
}


.ui.floated.image
{
	margin-bottom: 0em;
}

.h2d-blue{
	color: #0000AA !important;
}


.webapp-background
{
    height: 100vh;
    background-color: #FAFAFA !important;
}

.hidden.menu {
	display: none;
}


@media all and (-ms-high-contrast:none) 
{
  .ui.cards > .card,
  .ui.card {
    display: block;
  }
}



.parallax 
{
  height: 100vh;
  background-position: 10% 50% !important;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background-size: cover;
  -webkit-background-size:cover;
}


.landpage-icon
{
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);	
  color: #FFFFFF;
}

.landpage-title 
{
  font-size: 56px !important;
  padding-top: 70vh !important;
  padding-bottom: 5hv !important;
  font-weight: 300 !important;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif !important;
    
}

.banner-image 
{
    height: 45vh;
    background-image: url(/bilder/header_glasmalerei.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center !important;
}

.masthead.segment 
{
    max-height: 100vh;
    padding: 1em 0em;
}

.ui.segment.padding 
{
    padding-top: 50px;
}

.ui.mega.header
{
    font-size: 4em;
    font-weight: 400;
}

.ui.vertical.stripe {
	padding: 8em 0em;
}

.ui.vertical.stripe h3 {
	font-size: 2em;
}

.ui.vertical.stripe .button+h3,.ui.vertical.stripe p+h3 {
	margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
	clear: both;
}

.ui.vertical.stripe p {
	font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider 
{
	margin: 3em 0em;
}

.quote.stripe.segment {
	padding: 0em;
}

.quote.stripe.segment .grid .column {
	padding-top: 5em;
	padding-bottom: 5em;
}

.footer.segment {
	padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
	display: none;
}



/* HEADER styling */

.h2dtitlecolor {
    /*color:rgba(15, 117, 188, 0.87); */
    color:rgba(159, 14, 14, 0.87);
}







/* thank page styling */

.thank-image{
    border:1px; 
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.5em 0.5em 0.5em 0.5em;     
    width:9em; 
    height:9em; 
    margin-right:0.5em;
}

.thank-user-central-image{
    width:8em; 
	border:0px; 
    border-style: solid;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}

.thank-user-central-nickname{
    font-weight:600; 
    font-size:1.1em; 
    color:rgba(45, 122, 183, 0.9); 
    text-align: center;
}

.thank-helper-image{
    width:4em; 
    border:0px; 
    border-style: solid;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;	
}
.thank-helper-nickname{
    font-weight:600; 
    font-size:0.8em; 
    color:rgba(45, 122, 183, 0.9); 
    text-align: center;
}





.thank-headline{
    font-weight:600; 
    font-size:3.0em; 
    color:rgba(33, 190, 239, 0.9); 
}
.thank-headline-nickname{
    font-weight:600; 
    font-size:2.5em; 
    color:rgba(45, 122, 183, 0.9); 
}

.thank-impact{
    font-weight:500; 
    font-size:1.0em; 
    color:rgba(0, 0, 0, 0.67); 
}
.thank-impact-long{
    font-weight:200; 
    font-size:1.2em;
    font-style:italic;
    text-alignment:center; 
    color:rgba(0, 0, 0, 0.6); 
}
.thank-impact-image{
    border:1px; 
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.5em 0.5em 0.5em 0.5em;     
    width:14em; 
    height:14em; 
}









/* user styling */
.user-about{
	text-align: center;
	font-style: italic;
    font-weight:500; 
    font-size:1.0em; 
    color:rgba(0, 0, 0, 0.67); 
}



/* intro styling */

.intro-title {
    color:#9F0E0E !important; 
    font-weight:500; 
    font-size:1.25em; 
}
.intro-title:hover {
    /* font-weight:600; */
}

.intro-title.open {
    color:rgba(205, 8, 20, 1.0) !important; 
}
.intro-title.done {
    color:rgba(93, 186, 48, 1.0) !important; 
}
.intro-text {
    font-weight:400; 
    font-size:0.9em; 
    color:rgba(40, 40, 40, 0.67); 
    text-align: justify;
}



/* promotion styling */

.promotion-title-box {
    background-color:rgba(232, 241, 247, 1.0); 
    border:0px; 
    box-shadow:none; 
    margin-top:0.3em; 
    padding:0.5em; 
    border-radius: 0.5em 0.5em 0.5em 0.5em; 	
    position:relative;
}
.promotion-box-color.open, .promotion-content-box.open {
    background-color:rgba(254, 218, 218, 1.0); 
}
.promotion-box-color.done, .promotion-content-box.done {
    background-color:rgba(231, 244, 223, 1.0); 
}
.promotion-box-color.gone, .promotion-content-box.gone {
    background-color:rgba(235, 235, 235, 1.0); 
}




.promotion-title-title{
	font-weight:600; 
	font-size:0.9em; 
	color:rgba(0, 0, 0, 0.67); 
}

.promotion-title-subheader{
	margin-top: 0.0em; 
	font-size:0.9em; 
	color:rgba(0, 0, 0, 0.67);
}

.promotion-title-info-color{
    color:rgba(15, 117, 188, 0.87) !important; 
}

.promotion-title-info{
	font-weight:500; 
	font-size:0.9em; 
	margin-top: 0.2em;
}
.promotion-title-action-icons{
	color:rgba(15, 117, 188, 0.87);
    font-size:1.1em; 
    vertical-align: top;
}



.promotion-highlight-color-soft{
    color:#9F0E0E !important; 
}
.promotion-highlight-color {
    color:#9F0E0E !important; 
}

.promotion-highlight-color.open {
    color:#9F0E0E !important; 
}
.promotion-highlight-color.done {
    color:rgba(93, 186, 48, 1.0) !important; 
}
.promotion-highlight-color.gone {
    color:rgba(150, 150, 150, 1.0) !important; 
}






.promotion-content-box {
    background-color:rgba(232, 241, 247, 1.0); 
    border:0px; 
    box-shadow:none; 
    border-radius: 0 0 0.5em 0.5em; 
    padding:0.9em; 
    margin-top:-0.5em;
}



.promotion-content-title{
    color:rgba(0, 0, 0, 0.67); 
    font-weight:600; 
	font-size:0.85em; 
	margin-top: 0.9em;
}
.promotion-content-text{
    font-size:0.9em; 
    color:rgba(0, 0, 0, 0.67);
}

.promotion-content-comment{
	color:rgba(0, 0, 0, 0.47); 
	margin-top: 0.9em; 
	font-size:0.9em;
}

.promotion-content-link{
    color:#9F0E0E !important;
    text-decoration: underline;
    text-decoration-color: #9F0E0E !important;
}

.promotion-image-mobile{
	
}

.promotion-image-mobile img{
    width: 100%; 
    margin-top: 1em;
    border-radius: 0.5em 0.5em 0.5em 0.5em; 
}

.promotion-title-content{
    min-height: 4.2em; 	
    vertical-align: top;
}

.promotion-image-desktop{
	float:right; 
	border-radius: 0.5em 0.5em 0.5em 0.5em; 
	vertical-align: bottom; 
	display: inline-block; 
	width: 90%; 
	height: auto;
}

.promotion-icon{
	width:4.2em; 
	height:4.2em; 
	float:left;
	margin-right:0.5em; 
	display: inline-block;
}

.promotion-icon img{
	 max-width:95%; 
	 max-height:95%;
}



/* MAP styling */

#pac-input {
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}


/* message styling */

.message-content-box {
    background-color:rgba(232, 241, 247, 1.0) !important; 
    border:0px; 
    box-shadow:none; 
    border-radius: 0.8em 0.8em 0.8em 0.8em !important; 
    padding:0.7em !important; 
    margin-bottom:1.0em !important;
}



/* profile styling */

.profile-title-box {
    background-color:rgba(112, 10, 10, 1.0); 
    color:rgba(240, 240, 240, 1.0); 
    border:1px; 
    box-shadow:none; 
    margin-top:1.1em; 
    padding:0.5em; 
    border-radius: 0.5em 0.5em 0.5em 0.5em;     
    position:relative;
}

.profile-content-box {
    background-color:rgba(255, 255, 255, 1.0); 
    border:1px; 
    box-shadow:none; 
    border-radius: 0 0 0.5em 0.5em; 
    padding:0.9em; 
    margin-top:-0.5em;
}



/* dropdown icon styling */

.ui.accordion .active.title .icon, .ui.accordion .accordion .active.title icon {
    -webkit-transform: rotate(-90deg) !important;
    -ms-transform: rotate(-90deg) !important;
    transform: rotate(-90deg) !important;
}
.ui.accordion .title .icon, .ui.accordion .accordion .title icon {
    -webkit-transform: rotate(90deg) !important;
    -ms-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important;
}





/* Mobile */
@media only screen and (max-width: 767px) {
    .computeronly {
        display: none !important;
    }
	.mobileonly {
	    display: block;
	}
	
	.twocolumn60 {
	   width:95%;
	   display:block; 
	}
    .twocolumn40 {
       width:95%;
       display:block; 
    }
	
}

/* Computer / Desktop / iPad Landscape, widescreens */
@media only screen and (min-width: 768px) {
    .mobileonly {
        display: none !important;
    }
	.computeronly {
	    display: block;
	}
    .twocolumn60 {
       width:69%;
       display:inline-block; 
    }
    .twocolumn40 {
       width:25%;
       display:inline-block; 
    }
}

.blink_me {
    -webkit-animation: fadein 2s ease-in-out alternate infinite;
    -moz-animation: fadein 2s ease-in-out alternate infinite;
    animation: fadein 2s ease-in-out alternate infinite;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
