*
{
  box-sizing: border-box;
}


th, td {
  text-align: left;
  color: #808284;
  font-family: sans-serif;
}

.container
{
  border: 1px solid #e5e3d8;
  padding: 30px;
  border-radius: 5px
}

h3, h4, p
{  
  color: #808284;
  font-family: sans-serif;
  line-height: 1.5em;
}

h3
{  
  font-size: 17px;
}

h4
{  
  text-align: left;
  font-size: 15px;
}

p
{  
  font-size: 15px;
}

blockquote
{  
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote p
{  
  display: inline;
}

.center
{
  text-align: center;
}

.small
{
  font-size: 10;
}