<!DOCTYPE html>
<html>
<head>
<title>JoReDa Backoffice</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

{{#if hotspot}}
<meta name="geo.position" content="{{hotspot.li_lat}};{{hotspot.li_long}}" />
<meta property="og:image" content="{{image_url}}/{{hotspot.li_image_ref}}" />
<meta property="og:url" content="https://helfen-tut-gut.de/i/like/{{hotspot.li_id}}" />
<meta property="og:title" content="{{hotspot.li_comment}}" />
<meta property="og:description" content="{{hotspot.li_details}}" />
{{/if}}

<script src="/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/dist/jquery.datetimepicker.css"/ >
<script src="/dist/jquery.datetimepicker.js"></script>

<link rel="stylesheet" type="text/css" href="/dist/components/dimmer.css">
<link rel="stylesheet" type="text/css" href="/dist/components/reset.css">
<link rel="stylesheet" type="text/css" href="/dist/components/site.css">
<link rel="stylesheet" type="text/css" href="/dist/components/container.css">
<link rel="stylesheet" type="text/css" href="/dist/components/grid.css">
<link rel="stylesheet" type="text/css" href="/dist/components/header.css">
<link rel="stylesheet" type="text/css" href="/dist/components/image.css">
<link rel="stylesheet" type="text/css" href="/dist/components/menu.css">
<link rel="stylesheet" type="text/css" href="/dist/components/label.css">
<link rel="stylesheet" type="text/css" href="/dist/components/message.css">
<link rel="stylesheet" type="text/css" href="/dist/components/card.css">
<link rel="stylesheet" type="text/css" href="/dist/components/divider.css">
<link rel="stylesheet" type="text/css" href="/dist/components/dropdown.css">
<link rel="stylesheet" type="text/css" href="/dist/components/segment.css">
<link rel="stylesheet" type="text/css" href="/dist/components/form.css">
<link rel="stylesheet" type="text/css" href="/dist/components/input.css">
<link rel="stylesheet" type="text/css" href="/dist/components/button.css">
<link rel="stylesheet" type="text/css" href="/dist/components/list.css">
<link rel="stylesheet" type="text/css" href="/dist/components/icon.css">
<link rel="stylesheet" type="text/css" href="/dist/components/step.css">
<link rel="stylesheet" type="text/css" href="/dist/components/sidebar.css">
<link rel="stylesheet" type="text/css" href="/dist/components/transition.css">
<link rel="stylesheet" type="text/css" href="/dist/components/breadcrumb.css">
<link rel="stylesheet" type="text/css" href="/dist/components/checkbox.css">
<link rel="stylesheet" type="text/css" href="/dist/components/modal.css">
<link rel="stylesheet" type="text/css" href="/dist/components/statistic.css">
<link rel="stylesheet" type="text/css" href="/dist/components/dropdown.css">
<link rel="stylesheet" type="text/css" href="/dist/components/table.css">
<link rel="stylesheet" type="text/css" href="/dist/components/rating.css">



<script src="/js/jquery-ui.js"></script>

<script src="/dist/components/dimmer.js"></script>
<script src="/dist/components/dropdown.js"></script>
<script src="/dist/components/checkbox.js"></script>
<script src="/dist/components/visibility.js"></script>
<script src="/dist/components/sidebar.js"></script>
<script src="/dist/components/transition.js"></script>
<script src="/dist/components/form.js"></script>
<script src="/dist/components/api.js"></script>
<script src="/dist/components/modal.js"></script>

<link rel="shortcut icon" href="favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">







<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
{{{body}}}
</body>
</html>