
<div class="container">  

  <h3 class="center">NGO Registrierung</h3>
  
  <p class="center">der Status der NGO {{customer.cu_full_name}} wurde auf '{{status}}' verändert. {{user.us_nickname}} hat die Änderung durchgeführt. </p>

    <blockquote>  
        <h3>Kommentar</h3>
        
        <p>{{comment}}.</p>
        
    </blockquote>

    <p class="center small">Falls notwendig, bitte den nächsten Validierungsschritt durchführen.</p>  
    
</div>









