Hallo,

der Status der NGO {{customer.cu_full_name}} wurde auf '{{status}}' verändert.
{{user.us_nickname}} hat die Änderung durchgeführt. 

Kommentar: {{comment}}.


Falls notwendig, bitte den nächsten Validierungsschritt durchführen.



Der JoReDa Server
