
<div class="ui basic vertical segment">
    <div id="jssor_1" style="">
        <!-- Loading Screen -->
        <div data-u="loading" class="jssorl-009-spin">
            <img src="/bilder/spin.svg" />
        </div>
        <div class="slider" data-u="slides">
            <div>
                <img data-u="image" src="/bilder/Banner_Content_Lacrima.jpg" />
                <div class="computeronly">
                    <div class="slider_text">
                        <h3 class="slider__caption-headline">{{t 'Slider Headline 1'}}</h3>
                        <p class="slider__caption-content">{{t 'Slider Content 1'}}</p>
                        <a href="/hilfsanfragen" class="slider__caption-link"><span>{{t 'Slider Link Title 1'}}</span></a>
                    </div>           
                </div>
            </div>
            <div>
                <img data-u="image" src="/bilder/ehrenamt_bereichsstart1.jpg" />
                <div class="computeronly">
                    <div class="slider_text">
                        <h3 class="slider__caption-headline">{{t 'Slider Headline 2'}}</h3>
                        <p class="slider__caption-content">{{t 'Slider Content 2'}}</p>
                        <a href="/map" class="slider__caption-link"><span>{{t 'Slider Link Title 2'}}</span></a>
                    </div>              
                </div>
            </div>
            <div>
                <img data-u="image" src="/bilder/header_glasmalerei.jpg" />
                <div class="computeronly">
                    <div class="slider_text">
                        <h3 class="slider__caption-headline">{{t 'Slider Headline 3'}}</h3>
                        <p class="slider__caption-content">{{t 'Slider Content 3'}}</p>
                        <a href="/list" class="slider__caption-link"><span>{{t 'Slider Link Title 3'}}</span></a>
                    </div>          
                </div>
               
            </div>
        </div>
        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb032" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
            <div data-u="prototype" class="i" style="width:20px;height:20px;">
                <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                    <circle class="b" cx="8000" cy="8000" r="5800"></circle>
                </svg>
            </div>
        </div>
        <!-- Arrow Navigator -->
        <div data-u="arrowleft" class="jssora051" style="width:65px;height:65px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
            <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
            </svg>
        </div>
        <div data-u="arrowright" class="jssora051" style="width:65px;height:65px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
            <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
            </svg>
        </div>
    </div>    
    <script type="text/javascript">jssor_1_slider_init();</script>
    
    <div class="computeronly">
        <div class="r-stage-box">
            <div class="b-stage-cta">
                <div class="stage-cta__content" style="line-height: 130%;">
                    <a href="https://www.johanniter.de" style="display: block; padding: 1.5rem; margin-bottom: 20%" target="_blank">
                        <img src="/images/johanniterkreuz.png" style="float: left; width: auto; max-width: 58px; max-height: 58px; overflow: hidden;">
                        <div class="stage-cta__content-text" style=" float: left; width: 72%; margin-left: 6%;">
                            <h3 style="margin-top: 0.7em; margin-bottom: 0em;">{{t 'Companyname 1'}}</h3>
                            <p style="display: block; text-align: left; color:#666;">{{t 'More Information'}}</p>
                        </div>
                    </a>
                </div>
                <div class="stage-cta__link">
                    <a href="signup" style="display: block; padding: 2.8rem; margin-bottom: 20%; color: #ffffff; background-color: #9F0E0E; text-transform: uppercase; text-align: center;">
                        {{t 'get help now'}}
                    </a>
                </div>
            </div>
	    </div>
    </div>
</div>   