                <form class="ui form" action="/feedback" method="post">
                    <div class="field">
                        <label>{{t 'Wie nützlich findest Du help2day?'}}</label>
                        <input type="text" name="how" placeholder="{{t 'Kurzes Feedback in einem Satz'}}">
                    </div>
                
                  <div class="field">
                    <label>{{t 'Detaillierte Rückmeldung'}}</label>
                    <textarea rows="6" name="details"></textarea>
                  </div>
                  
                  <div class="field">
                    <label>{{t 'Würdest Du help2day für Hilfeleistung verwenden?'}}</label>
                    <input type="text" name="use" placeholder="{{t 'ja/nein/vielleicht'}}">
                  </div>
                  
                  <button class="ui blue button" type="submit">{{t 'Abschicken'}}</button>
                  
                </form>
