<div class="ui basic segment" style="margin: 0px; height: 3em; background-color: #9F0E0E !important;">    </div>

<div class="ui inverted vertical footer segment">
	<div class="ui container">
		<div
			class="ui stackable inverted divided equal height stackable grid">
			<div class="three wide column">
				<h4 class="ui inverted header">{{t 'About'}}</h4>
				<div class="ui inverted link list">
                    <a href="https://www.johanniter.de/" class="item">{{t 'Homepage'}}</a>
					<a href="https://www.johanniter.de/service/impressum/" class="item">{{t 'Impressum'}}</a>
					<a href="https://www.johanniter.de/service/datenschutzerklaerung/" class="item">{{t 'Datenschutz und Nutzung'}}</a>
					<a href="/opensource" class="item">{{t 'Open Source'}}</a>
				</div>
			</div>
            
			<div class="three wide column">
				<h4 class="ui inverted header">{{t 'Services'}}</h4>
				<div class="ui inverted link list">
					<a href="/help" class="item">{{t 'Hilfe'}}</a> 
					<a href="/feedback"	class="item">{{t 'Feedback'}}</a> 
					<a href="/contact" class="item">{{t 'Kontakt'}}</a>
                    <!-- <a href="https://www.facebook.com/help2day.org" class="item">Facebook</a> -->
				</div>
			</div>
			
			<div class="three wide column">
				<h4 class="ui inverted header">{{t 'Sprachen'}}</h4>
				<div class="ui inverted link list">
					<a href="/en" class="item">{{t 'English'}}</a> 
					<a href="/de" class="item">{{t 'Deutsch'}}</a> 
				</div>
			</div>

			<div class="six wide column">
				<h4 class="ui inverted header">{{t 'help2day'}}</h4>
				<em>
					{{t 'Footer'}}
                </em>
			</div>
		</div>
	</div>
</div>
