<!-- Sidebar login Menu -->
<div class="ui vertical inverted left thin sidebar menu">

    <div class="mobileonly">
        <div class="item" style="height:68px;">
        </div>
        <div class="item">
            <div class="header">{{t 'Hilfsanfragen'}}</div>
            <div class="menu">
                <a class="item" href="/hilfsanfragen">{{t 'Aktuell'}}</a>
                <a class="item" href="/list">{{t 'Orte'}}</a>
                <a class="item" href="/map">{{t 'Karte'}}</a>
            </div>
        </div>
        
        <div class="item">
            <div class="header">{{t 'Helfer'}}</div>
            <div class="menu">
                <a class="item" href="/status">{{t 'Mein Status'}}</a>
                <a class="item" href="/settings">{{t 'Einstellungen'}}</a>
            </div>
        </div>
        
        <div class="item">
            {{#if user}}
                <!-- userdata available -->
                <a class="header" href="/logout">{{t 'Abmelden'}}</a>
                
            {{else}}
                <!-- userdata not available -->
                <a class="header" href="/login">{{t 'Anmelden'}}</a>
                <a class="header" href="/signup">{{t 'Registrieren'}}</a>
            {{/if}}
        </div>
    </div>
</div>
<div class="mobileonly">
    <div class=" ui top fixed borderless secondary menu " style="background: rgba(254, 254, 254, 0.87);">
            <a class="toc item">
                <i class="sidebar icon h2dtitlecolor" style="font-size:2em;"></i>
            </a>   
            <div class="right menu">
                <div class="item" style="height:68px;">
                    <a class="ui logo icon image" href="/">
                        <img style="height:45px;" src="/images/DieJohanniter_AusLiebeZumLeben.png">
                    </a>
                </div>
            </div>
    </div>
</div>


<div class="computeronly">
    <div class="ui top fixed borderless large inverted secondary menu ">
        <div class="ui inverted container" style="min-height: 70px; !important;">
            
            <div class="item" style="height:68px;">
                <a class="ui logo icon image" href="/">
                    <img style="height:45px;" src="/images/DieJohanniter_AusLiebeZumLeben.png">
                </a>
            </div>
                 
            <a class="item" href="/hilfsanfragen"><i class="fa fa-heart fa-fw" style="margin-right:5px;"></i>{{t 'Anfragen'}}</a>
            <a class="item" href="/list"><i class="fa fa-building-o fa-fw"></i>{{t 'Orte'}}</a>
            <a class="item" href="/map"><i class="fa fa-map-marker fa-fw"></i>{{t 'Karte'}}</a>
            
            {{#if user}}
                <!-- userdata available -->
                <a class="item" href="/status"><i class="fa fa-user fa-fw" style="margin-right:5px;"></i>{{t 'Mein Status'}}</a>
                <a class="item" href="/messages">
                    <i class="fa fa-envelope-o fa-fw" style="margin-right:5px;"></i>{{t 'Nachrichten'}}
                    {{#if user.us_message_count}}
                    <div class="ui red small label">{{user.us_message_count}}</div>
                    {{/if}}
                </a>
                
                <div class="right mini compact secondary menu" style="height:90px; margin-left:1em !important; margin-top:0.9em;" >
                
                    <div class="" style="vertial-align:middle; font-size: 0.76em; font-weight:400; color:rgba(51,51,51,0.8);">
                        <div style="display:block !important;">
                            {{t 'Willkommen'}} {{user.us_nickname}} 
                            <a class="ui link" href="/settings"><i class="fa fa-cog fa-fw" style="color:rgba(51,51,51,0.8);"></i>
                            {{#unless user.us_profile_count}}
                                <i class="fa fa-exclamation-circle" aria-hidden="true" style="color:red;"></i>
                            {{/unless}}
                            </a>
                        </div>               
                        <div style="display:block !important; text-align:right;">
                            <a class="ui link" style="color:rgba(51,51,51,0.8);" href="/logout">{{t 'Abmelden'}}</a>
                            <a class="ui link" href="https://www.facebook.com/help2day.org/" style="">
                                <i class="fa fa-facebook-square" aria-hidden="true" style="color:rgba(51,51,51,0.8);"></i>
                            </a>
                        </div>     
                    </div>                
                
                </div>
                
            {{else}}
                <!-- userdata not available -->
                <div class="right menu">
                    <a class="item" href="/login">{{t 'Anmelden'}}</a>
                    <a class="item" href="/signup">{{t 'Registrieren'}}</a>
                </div>
            {{/if}}
        </div>
    </div>
</div>




<script type="text/javascript">
<!-- setup of navigation-->

$(document)
.ready(function() 
{
  $('.ui.sidebar')
    .sidebar('attach events', '.toc.item');

  {{#if message}}
    $('#message_modal').modal({}).modal('show');
  {{/if}}

});
</script>


{{#if message}}
<div id="message_modal" class="ui basic modal">
  <i class="important icon"></i>
  <div class="header">
    {{message}}
  </div>
  <div class="actions">
    <div class="ui basic inverted deny button">{{t 'OK'}}</div>
  </div>
</div>
{{/if}}


<div class="computeronly">
    <div class="ui basic segment" style="min-height: 70px; !important;"></div>
</div>


