
<div class="ui very basic segment" style="padding-top:0em !important; ">

    <p style="font-size: 1.3em;">{{t 'Helfen in drei Schritten'}}</p>
    
    <div class="ui divider"></div>

    <div class="ui three column very relaxed stackable grid">
    
      <div class="column" style="padding-left:0.3em !important; padding-right:0.3em !important;">
      
        <div style="display: inline-block; width:20%; vertical-align:top; margin-top:0.2em;">
            <span style="position: absolute; top:1.3em; left:1.2em; font-size:1.3em; color:#fff;">1</span>
              <i class="fa fa-heart fa-fw" style="margin-right:5px; font-size:2.4em; color:rgba(0, 188, 242, 0.87) !important;"></i>
        </div>
        <div style="display: inline-block; width:70%;">
            <p class="intro-title">{{t 'Hilfsanfrage auswählen'}}</p>
            
            <div class="computeronly">
                <p class="intro-text">{{t 'Wähle eine für dich passende Hilfsanfrage und ließ dir bitte die Anforderungen und Hinweise der Hilfsorganisation durch, damit Deine Hilfeleistung zur richtigen Zeit am richtigen Ort ankommt.'}}</p>
            </div>
            
        </div>
      </div>
      <div class="column" style="padding-left:0.3em !important; padding-right:0.3em !important;">
        <div style="display: inline-block; width:20%; vertical-align:top; margin-top:0.2em;">
            <span style="position: absolute; top:1.3em; left:1.2em; font-size:1.3em; color:#fff;">2</span>
            <i class="fa fa-heart fa-fw" style="margin-right:5px; font-size:2.4em; color:rgba(205, 8, 20, 1.0) !important;"></i>
        </div>
        <div style="display: inline-block; width:65%;">
            <p class="intro-title open">{{t 'Hilfeleistung zusagen'}}</p>
            <div class="computeronly">
                <p class="intro-text">{{t 'Mit einem Klick auf den Button »Hilfeleistung zusagen« gibst du der Hilfsorganisation Deine <b>unverbindliche Zusage</b> die Hilfeleistung im angegebenen Zeitraum zu erbringen.'}}</p>
            </div>
        </div>
      </div>
      <div class="column" style="padding-left:0.3em !important; padding-right:0.3em !important;">
        <div style="display: inline-block; width:20%; vertical-align:top; margin-top:0.2em;">
            <span style="position: absolute; top:1.3em; left:1.2em; font-size:1.3em; color:#fff;">3</span>
            <i class="fa fa-heart fa-fw" style="margin-right:5px; font-size:2.4em; color:rgba(93, 186, 48, 1.0) !important;"></i>
        </div>
        <div style="display: inline-block; width:70%;">
            <p class="intro-title done">{{t 'Helfen, Bestätigen und Dank'}}</p>
            <div class="computeronly">
                <p class="intro-text">{{t 'Nachdem du die Hilfe erbracht hast, bestätige bitte deine Hilfe. Deine zugesagten Hilfeleistungen findest du in »Mein Status«. Dadurch wird ein kleines <b>Dankeschön</b> freigeschaltet.'}}</p>
            </div>
        </div>
      </div>
    </div>

    <div class="ui divider"></div>
</div>


