        <div class="ui compact info message">
          <div class="header">
            {{t 'keinenachrichtentitel'}}
          </div>
		  {{{t 'keinenachrichten'}}}                          
        </div>
