        <div class="ui compact info message">
          <div class="header">
            {{t 'nichtsgefundentitel'}}
          </div>
		  {{{t 'nichtsgefunden'}}}                          
        </div>
