<div class="promotion-title-box title">

    <div class="twocolumn60" style="margin:0.5em;">
    
        <div class="computeronly promotion-icon">
            <img src="/images/{{this.pro_icon}}">
        </div>                          
        
        <div class="computeronly promotion-title-content">
             <div class="promotion-title-title promotion-highlight-color">
                 {{this.cu_full_name}} 
             </div> 
            <div class="promotion-content-text">
                <b style="text-transform: uppercase;" >{{this.pr_name}}</b> {{this.pr_gift_comment}}
            </div>
        </div>    
        
        <div class="mobileonly promotion-title-content">
            <div class="promotion-content-text">
				<b style="text-transform: uppercase;">{{this.pr_name}}</b> {{this.pr_gift_comment_short}}
            </div>
        </div>    
    </div>    
    
    <div class="twocolumn40 computeronly" style="vertical-align: top; margin:0.5em;">
        <div style="width:80%; display:inline-block;">
            <div class="promotion-title-subheader">
                {{t 'läuft noch bis'}}  <div class="promotion-title-title promotion-highlight-color" style="display:inline-block;">{{this.pr_end_time_string}}</div>               
            </div>
        </div>
        <div class="" style="margin-top:0.3em; padding:0.1em; background-color:rgba(250,250,250,0.8) !important; border-radius: 0.4em; width:100%;border: 1px solid #ecebeb;">
            <div class="" style="margin:0.1em; background-color: #9F0E0E; width:{{this.pr_duration_percentage}}; height: 0.5em; border-radius: 0.2em;">
            </div>
        </div>
        <div class="" style="margin-top:0.3em; width:80%; text-align:right;">
            <p class="promotion-title-subheader" >{{t 'jetzt teilen'}}
            <a class="item promotion-title-action-icons promotion-highlight-color " href="{{{facebook_share_url this}}}"><i class="fa fa-facebook-official fa-fw"></i></a>
            <a class="item promotion-title-action-icons promotion-highlight-color " href="{{{email_share_url this}}}"><i class="fa fa-envelope fa-fw"></i></a>
        </div>
    </div>    
    
    <div style="position:absolute; top:0.5em; right:0.5em;">
        <i class="dropdown icon triggericon"></i>
    </div>

</div>

<div class="content promotion-content-box content">

    <div style="padding-bottom: 1em; position:relative;">
        <div class="twocolumn60">
    
            <div class="mobileonly" style="vertical-align: top;">
            
                <div class="promotion-content-title">
                    {{t 'Hilfsorganisation:'}}
                </div>
                <div class="promotion-content-text">
                    {{this.cu_full_name}}
                </div>
                
                <div class="promotion-content-title">
                    {{t 'Hilfsanfrage:'}}
                </div>
                <div class="promotion-content-text">
					<b style="text-transform: uppercase;">{{this.pr_name}}</b> 
					{{this.pr_gift_comment}}
                </div>
            
                <div class="promotion-content-title">
                    {{t 'Laufzeit:'}}
                </div>
                <div style="width:80%; display:inline-block;">
                    <div class="promotion-title-subheader">
                        {{t 'läuft noch bis'}}  <div class="promotion-title-title promotion-highlight-color" style="display:inline-block;">{{this.pr_end_time_string}}</div>               
                    </div>
                </div>
                <div class="" style="margin-top:0.3em; padding:0.1em; background-color:rgba(250,250,250,0.8) !important; border-radius: 0.4em; width:100%; border: 1px solid #ecebeb;">
                    <div class="" style="margin:0.1em; background-color: #9F0E0E; width:{{this.pr_duration_percentage}}; height: 0.5em; border-radius: 0.2em;">
                    </div>
                </div>
                <div class="" style="margin-top:0.3em; width:80%; text-align:right;">
                    <p class="promotion-title-subheader" >{{t 'jetzt teilen'}}
                    <a class="item promotion-title-action-icons promotion-highlight-color " href="{{{facebook_share_url this}}}"><i class="fa fa-facebook-official fa-fw"></i></a>
                    <a class="item promotion-title-action-icons promotion-highlight-color " href="{{{email_share_url this}}}"><i class="fa fa-envelope fa-fw"></i></a>
                </div>
            </div>    
    
            <div class="promotion-content-title">
                {{t 'Wie kann ich helfen:'}}
            </div>
            <div class="promotion-content-text">
                {{this.pr_user_comment}}
            </div>
    
            <div class="promotion-content-title">
                {{t 'Wo kann ich helfen:'}}
            </div>
            <div class="promotion-content-text">
                <a class="promotion-content-link" href="/hotspot?li_id={{this.li_id}}">{{this.li_comment}}</a>
                <br />
                {{this.li_postal_code}} {{this.li_city}} {{this.li_address}}
            </div>
    
			{{#unless this.pr_is_hidden}}
	            <div class="promotion-content-title">
	                {{t 'Was ist zu beachten:'}}
	            </div>
	            <div class="promotion-content-text">
	                {{this.pr_hint}}
	            </div>
	    
	            <a class="ui basic blue button" href="/hilfsanfrage/preagree?pr_id={{this.pr_id}}&pr_gift_units_per_count={{this.pr_gift_units_per_count}}" style="margin-top: 1.9em; font-size:0.9em; border-radius: 0.5em 0.5em 0.5em 0.5em;">
	              <i class="fa fa-heart fa-fw"></i>
	              {{t 'Hilfeleistung zusagen'}}
	            </a>
	    
{{> disclaimer}}                
{{> calltoactionpromotion}}                
                
            {{/unless}}    
	        
            <div class="mobileonly">
                <a class="promotion-image-mobile" href="/hotspot?li_id={{this.li_id}}">
                    <img src="{{image_url}}/{{this.pr_gift_image_reference}}_500">
                </a>
            </div>
        </div>    
        
        <div class="twocolumn40 computeronly">
    
                <a class="" style="" href="/hotspot?li_id={{this.li_id}}">
                    <img src="image/{{this.pr_gift_image_reference}}_500" style="max-width: 80%; border-radius: 0.5em 0.5em 0.5em 0.5em;">
                </a>
        </div>    
    </div>
</div>


