<div class="promotion-title-box title active">

    <div class="twocolumn60" style="margin:0.5em;">
    
        <div style="widht:4em; height:4em; float:left; margin-right:0.5em;">
            <img style="max-width:95%; max-height:95%;" src="/images/{{ticket.pro_icon}}">
        </div>                          
        
        <div class="computeronly" style="vertical-align: top;">
             <div class="promotion-title-title">
                {{ticket.cu_full_name}}
             </div> 
            <div class="promotion-content-text">
                {{ticket.pr_gift_comment}}
            </div>
        </div>    
        
        <div class="mobileonly" style="vertical-align: top;">
            <div class="promotion-content-text">
                {{ticket.pr_gift_comment_short}}
            </div>
        </div>    
    </div>    
    
    <div class="twocolumn40 computeronly" style="vertical-align: top;">
        <div style="width:80%; display:inline-block;">
            <div class="promotion-title-subheader">
                {{t 'läuft noch bis'}}  <div class="promotion-title-title promotion-highlight-color" style="display:inline-block;">{{ticket.pr_end_time_string}}</div>               
            </div>
        </div>
        <div class="" style="margin-top:0.3em; padding:0.1em; background-color:rgba(250,250,250,0.8) !important; border-radius: 0.4em; width:80%;">
            <div class="" style="margin:0.1em; background-color: rgba(15, 117, 188, 0.87); width:{{ticket.pr_duration_percentage}}; height: 0.5em; border-radius: 0.2em;">
            </div>
        </div>
        <div class="" style="margin-top:0.3em; width:80%; text-align:right;">
            <p class="promotion-title-subheader" >{{t 'jetzt teilen'}}
            <a class="item promotion-title-action-icons promotion-highlight-color " href="{{{facebook_share_url ticket}}}"><i class="fa fa-facebook-official fa-fw"></i></a>
            <a class="item promotion-title-action-icons promotion-highlight-color " href="{{{email_share_url ticket}}}"><i class="fa fa-envelope fa-fw"></i></a>
        </div>
    </div>    

    <a class="ui basic blue button" href="{{{facebook_share_url ticket}}}" style="margin: 1.0em; border-radius: 0.5em 0.5em 0.5em 0.5em;">
      <i class="fa fa-facebook-official fa-fw"></i>
      {{t 'An Freunde schicken'}} 
    </a>

</div>

    


