<div class="promotion-title-box title">
    
    <div class="twocolumn60" style="margin:0.5em;">
    
        <div class="promotion-icon">
            <img src="/images/gone_{{this.pro_icon}}">
        </div>                          
        
        <div class="computeronly promotion-title-content">
             <div class="promotion-title-title">
                 {{this.cu_full_name}} 
             </div> 
            <div class="promotion-content-text">
                {{this.pr_gift_comment}}
            </div>
        </div>    
        
        <div class="mobileonly promotion-title-content">
            <div class="promotion-content-text">
                {{this.pr_gift_comment_short}}
            </div>
        </div>    
    </div>    
    
    <div class="twocolumn40 computeronly" style="vertical-align: top;">
        <div style="width:80%; display:inline-block;">
            <div class="promotion-title-subheader">
                
                {{#if this.gi_is_canceled}}
                    storniert am
                {{else}}
                    abgelaufen am
                {{/if}}
                
                <div class="promotion-title-title promotion-highlight-color gone" style="display:inline-block;">{{this.pr_end_time_string}}</div>               
            </div>
        </div>
    </div>    
    
    <div style="position:absolute; top:0.5em; right:0.5em;">
        <i class="dropdown icon triggericon"></i>
    </div>

</div>

<div class="content promotion-content-box content">

    <div style="padding-bottom: 1em; position:relative;">
        <div class="twocolumn60">
    
            <div class="mobileonly" style="vertical-align: top;">
            
                <div class="promotion-content-title">
                    Hilfsorganisation:
                </div>
                <div class="promotion-content-text">
                    {{this.cu_full_name}}
                </div>
                
                <div class="promotion-content-title">
                    Hilfsanfrage:
                </div>
                <div class="promotion-content-text">
                    {{this.pr_gift_comment}}
                </div>
            
            </div>    
    
    
            <div class="promotion-content-title">
                Wie lange ist das Ticket noch offen:
            </div>
            <div class="promotion-content-text">
                {{ticketStatus this}}
            </div>
    
            <div class="promotion-content-title">
                Was muss ich tun:
            </div>
            <div class="promotion-content-text">
                {{this.pr_user_comment}}
            </div>
            
            <div class="promotion-content-title">
                Was ist zu beachten:
            </div>
            <div class="promotion-content-text">
                {{this.pr_hint}}
            </div>
    
            <div class="promotion-content-title">
                Wo kann ich helfen:
            </div>
            <div class="promotion-content-text">
                {{this.li_comment}}
                <br />
                {{this.li_postal_code}} {{this.li_city}} {{this.li_address}}
            </div>
    
            <div class="promotion-content-comment">
                {{#if this.gi_is_canceled}}
                    Die Hilfszusage ist storniert. 
                {{else}}
                    Die Hilfsanfrage ist abgelaufen.
                {{/if}}
            </div>
            
            
            <div class="mobileonly">
                <a class="promotion-image-mobile" href="/hotspot?li_id={{this.li_id}}">
                    <img src="{{image_url}}/{{this.pr_gift_image_reference}}_500">
                </a>
            </div>
            
            
        
        </div>    
        
         <div class="twocolumn40 computeronly" >
    
            <a class="" style="border-radius: 0.5em 0.5em 0.5em 0.5em; vertical-align: bottom; display: inline-block; width: 100%;" href="/hotspot?li_id={{this.li_id}}">
                    <img src="{{image_url}}/{{this.pr_gift_image_reference}}_500" style="max-width: 80%; border-radius: 0.5em 0.5em 0.5em 0.5em;">
            </a>
        </div>    
    </div>
</div>


