<div class="promotion-title-box title active">

    <div class="twocolumn60" style="margin:0.5em;">
    
        <div class="promotion-icon">
            <img style="max-width:95%; max-height:95%;" src="/images/{{promotion.pro_icon}}">
        </div>                          
        
        <div class="computeronly promotion-title-content">
             <div class="promotion-title-title">
                {{promotion.cu_full_name}}
             </div> 
            <div class="promotion-content-text">
                <b style="text-transform: uppercase;" >{{promotion.pr_name}}</b>
                {{promotion.pr_gift_comment}}
            </div>
        </div>    
        
        <div class="mobileonly promotion-title-content">
            <div class="promotion-content-text">
				<b style="text-transform: uppercase;" >{{promotion.pr_name}}</b>
                {{promotion.pr_gift_comment_short}}
            </div>
        </div>    
    </div>    
    
    <div class="twocolumn40 computeronly" style="vertical-align: top;">
        <div style="width:80%; display:inline-block;">
            <div class="promotion-title-subheader">
                läuft noch bis <div class="promotion-title-title promotion-highlight-color" style="display:inline-block;">{{promotion.pr_end_time_string}}</div> 
            </div>
        </div>
        <div class="" style="margin-top:0.3em; padding:0.1em; background-color:rgba(250,250,250,0.8) !important; border-radius: 0.4em; width:80%;">
            <div class="" style="margin:0.1em; background-color: rgba(15, 117, 188, 0.87); width:{{promotion.pr_duration_percentage}}; height: 0.5em; border-radius: 0.2em;">
            </div>
        </div>
        <div class="" style="margin-top:0.3em; width:80%; text-align:right;">
            <p class="promotion-title-subheader" >jetzt teilen
            <a class="item promotion-title-action-icons promotion-highlight-color " href="{{{facebook_share_url promotion}}}"><i class="fa fa-facebook-official fa-fw"></i></a>
            <a class="item promotion-title-action-icons promotion-highlight-color " href="{{{email_share_url promotion}}}"><i class="fa fa-envelope fa-fw"></i></a>
        </div>
    </div>    
    
    <div style="position:absolute; top:0.5em; right:0.5em;">
        <i class="dropdown icon triggericon"></i>
    </div>

</div>

<div class="content promotion-content-box content">

    <div>
        <div class="twocolumn60">
    
            <div class="mobileonly" style="vertical-align: top;">
            
                <div class="promotion-content-title">
                    Hilfsorganisation:
                </div>
                <div class="promotion-content-text">
                    {{promotion.cu_full_name}}
                </div>
                
                <div class="promotion-content-title">
                    Hilfsanfrage:
                </div>
                <div class="promotion-content-text">
                    <b style="text-transform: uppercase;" >{{promotion.pr_name}}</b>
                    {{promotion.pr_gift_comment}}
                </div>
            
                <div class="promotion-content-title">
                    Laufzeit:
                </div>
                <div style="width:80%; display:inline-block;">
                    <div class="promotion-title-subheader">
                        läuft noch bis <div class="promotion-title-title promotion-highlight-color" style="display:inline-block;">{{promotion.pr_end_time_string}}</div> 
                    </div>
                </div>
                <div class="" style="margin-top:0.3em; padding:0.1em; background-color:rgba(250,250,250,0.8) !important; border-radius: 0.4em; width:80%;">
                    <div class="" style="margin:0.1em; background-color: rgba(15, 117, 188, 0.87); width:{{promotion.pr_duration_percentage}}; height: 0.5em; border-radius: 0.2em;">
                    </div>
                </div>
                <div class="" style="margin-top:0.3em; width:80%; text-align:right;">
                    <p class="promotion-title-subheader" >jetzt teilen
                    <a class="item promotion-title-action-icons promotion-highlight-color " href="{{{facebook_share_url promotion}}}"><i class="fa fa-facebook-official fa-fw"></i></a>
                    <a class="item promotion-title-action-icons promotion-highlight-color " href="{{{email_share_url promotion}}}"><i class="fa fa-envelope fa-fw"></i></a>
                </div>
            </div>    
    
    
            <div class="promotion-content-title">
                Wie kann ich helfen:
            </div>
            <div class="promotion-content-text">
                {{promotion.pr_user_comment}}
            </div>
    
            <div class="promotion-content-text">
                <a class="promotion-content-link" href="/hotspot?li_id={{this.li_id}}">{{this.li_comment}}</a>
            </div>
            <div class="promotion-content-text">
                {{promotion.li_comment}}
            </div>
    
            <div class="promotion-content-title">
                Was ist zu beachten:
            </div>
            <div class="promotion-content-text">
                {{promotion.pr_hint}}
            </div>
    
            <a class="ui basic olive button" href="/hilfsanfrage/agree?pr_id={{promotion.pr_id}}&pr_gift_units_per_count={{promotion.pr_gift_units_per_count}}&pr_multiplier={{promotion.pr_multiplier}}" style="margin-top: 1.9em; font-size:0.9em; border-radius: 0.5em 0.5em 0.5em 0.5em;">
              <i class="fa fa-heart fa-fw"></i>
              Hilfeleistung zusagen
            </a>
    
            <div class="promotion-content-comment">
                Bestätige bitte deine Hilfe mit dem obigen Button.
                Du kannst später jederzeit stornieren. Deine zugesagten Hilfeleistungen findest du in deinem Status.
            </div>
        
            <div class="mobileonly">
                <a class="promotion-image-mobile" href="/hotspot?li_id={{promotion.li_id}}">
                    <img src="../image/{{promotion.pr_gift_image_reference}}_500">
                </a>
            </div>
        
        </div>    
        
        <div class="twocolumn40 computeronly" style="text-align: center; overflow: auto;">
    
                <a class="" style="float:right; border-radius: 0.5em 0.5em 0.5em 0.5em; vertical-align: bottom; display: inline-block; width: 90%; height: auto;" href="/hotspot?li_id={{promotion.li_id}}">
                    <img src="../image/{{promotion.pr_gift_image_reference}}_500" style="max-width: 80%; border-radius: 0.5em 0.5em 0.5em 0.5em;">
                </a>
        </div>    
    </div>
</div>


