             <div class="ui eleven wide centered column" style="padding-left: 0.0em; padding-right: 0.0em;">
             
                    <div class="ui center aligned basic segment" style="padding-top: 0.0em; padding-bottom: 0.0em;">
                        <div class="ui centered small image">
                            <img src="{{image_url}}/{{promotion.pr_gift_image_reference}}_500">
                        </div>
                    </div>                    
                    
                    <div class="ui center aligned basic segment" style="padding-top: 0.0em;  padding-bottom: 0.0em;">
                        <div class="ui basic label">
                            {{promotion.li_comment}}
                        </div>
                    </div>                    
                                            
                    <div class="ui center aligned basic segment" style="padding-top: 0.0em; padding-bottom: 0.0em;">
                        <table class="ui very basic table" style="margin-top: 0.2em;">
                          <tbody>
                            <tr>
                              <td class="four wide">{{t 'Was wird benötigt?'}}
                              </td>
                              <td class="nine wide">{{promotion.pr_gift_comment}}
                              </td>
                            </tr>
                            
                            <tr>
                              <td class="four wide">{{t 'Was kann ich tun?'}}
                              </td>
                              <td class="nine wide">
                                {{promotion.pr_user_comment}} 
                              
                                {{#if user}}
                                   <a class="ui link" href="/redir/preagree_static?pri_id={{promotion.pr_instance_id}}&pr_gift_units_per_count={{promotion.pr_gift_units_per_count}}"> {{t '... weiter'}}</a>
                                {{else}}
                                   <a class="ui link" href="/preregister?pri_id={{promotion.pr_instance_id}}&pr_gift_units_per_count={{promotion.pr_gift_units_per_count}}"> {{t '... weiter'}}</a>
                                {{/if}}
                              
                              
                              </td>
                            </tr>
                            
                            <tr>
                              <td>{{t 'Wo kann ich helfen?'}}</td>
                              <td>
                                  <a href="/hotspot?li_id={{promotion.li_id}}" class="ui link">
                                      {{promotion.li_postal_code}} {{promotion.li_city}} {{promotion.li_address}}
                                  </a>
                              </td>
                            </tr>
                            <tr>
                              <td>{{t 'Was ist zu beachten?'}}</td>
                              <td>{{promotion.pr_hint}}</td>
                            </tr>
                            <tr>
                              <td>{{t 'Wie lange läuft die Anfrage?'}}</td>
                              <td>{{promotionAblauf promotion}}</td>
                            </tr>
       
                        </tbody></table>
                    </div>                    
                </div>
                    