                    
                <div class="ui eleven wide centered column">
                    <h2 class="ui centered header">{{t 'Hilfsanfrage'}}</h2>
                </div>
             
                    
                    
                    <div class="ui stackable centered two cards">
                        <div class="ui centered card">      
                          
                            <div class="content">
                              <div class="description">
                              
                                <div class="left floated tiny ui image">
                                    <img src="{{image_url}}/{{promotion.pr_gift_image_reference}}_100">
                                </div>
                              
                                <p>
                                    <i class="ui announcement icon"></i>{{promotion.pr_gift_comment}}
                                </p>
                                <p>
                                    <a class="ui link" href="/preregister?pri_id={{promotion.pr_instance_id}}"><i class="ui heart icon"></i>{{promotion.pr_user_comment}}</a>
                                </p>
                              </div>
                            </div>
                            
                            <div class="extra content">
                                <div class="left floated author">
                                   <a href="/hotspot?li_id={{promotion.li_id}}" class="ui avatar image">
                                      <img class="ui avatar image" src="/image/{{promotion.li_marker_reference}}"> 
                                   </a>
                                  {{promotion.li_comment}}
                                </div>
                            </div>
                            
                            <div class="extra content">
                                <p>
                                    <i class="ui info icon"></i> {{promotion.pr_hint}}
                                </p>
                            </div>
                            
                            <div class="extra content">
                                <i class="ui wait icon"></i>{{promotionAblauf promotion}}
                            </div>
                        </div>
                    </div>
