<div class="promotion-title-box title">
    
    <div class="twocolumn60" style="margin:0.5em;">
    
        <div class="promotion-icon">
            <img src="/images/done_{{this.pro_icon}}">
        </div>                          
        
        <div class="computeronly promotion-title-content">
             <div class="promotion-title-title">
                 {{this.cu_full_name}} 
             </div> 
            <div class="promotion-content-text">
                {{this.pr_gift_comment}}
            </div>
        </div>    
        
        <div class="mobileonly promotion-title-content">
            <div class="promotion-content-text">
                {{this.pr_gift_comment_short}}
            </div>
        </div>    
    </div>    
    
    <div class="twocolumn40 computeronly" style="vertical-align: top;">
        <div style="width:80%; display:inline-block;">
            <div class="promotion-title-subheader">
                {{t 'bestätigt am'}}  <div class="promotion-title-title promotion-highlight-color done" style="display:inline-block;">{{this.pr_end_time_string}}</div>               
            </div>
        </div>
    </div>    
    
    <div style="position:absolute; top:0.5em; right:0.5em;">
        <i class="dropdown icon triggericon"></i>
    </div>

</div>

<div class="content promotion-content-box content">

    <div style="padding-bottom: 1em; position:relative;">
        <div class="twocolumn60">
    
            <div class="mobileonly" style="vertical-align: top;">
            
                <div class="promotion-content-title">
                    {{t 'Hilfsorganisation:'}}
                </div>
                <div class="promotion-content-text">
                    {{this.cu_full_name}}
                </div>
                
                <div class="promotion-content-title">
                    {{t 'Hilfsanfrage:'}}
                </div>
                <div class="promotion-content-text">
                    {{this.pr_gift_comment}}
                </div>
            
            
                <div class="promotion-content-title">
                    {{t 'Bestätigung:'}}
                </div>
                <div style="width:80%; display:inline-block;">
                    <div class="promotion-title-subheader">
                        {{t 'bestätigt am'}}  <div class="promotion-title-title promotion-highlight-color done" style="display:inline-block;">{{this.pr_end_time_string}}</div>               
                    </div>
                </div>
            
            
            </div>    
    
    
            <div class="promotion-content-title">
                {{t 'Was habe ich geleistet:'}}
            </div>
            <div class="promotion-content-text">
                {{this.pr_user_comment}}
            </div>
            
            <div class="promotion-content-title">
                {{t 'Wo habe ich geholfen:'}}
            </div>
            <div class="promotion-content-text">
                <a class="promotion-content-link" href="/hotspot?li_id={{this.li_id}}">{{this.li_comment}}...</a>
            </div>
    
            <a class="ui basic red button" href="/danke/{{this.gi_id}}" style="margin-top: 1.9em; font-size:0.9em; border-radius: 0.5em 0.5em 0.5em 0.5em;">
              <i class="fa fa-heart fa-fw"></i>
                  {{t 'Zur Dankesseite'}}
            </a>
    
            <div class="promotion-content-comment">
                {{t 'Deine Dankesseite ist freigeschaltet. Dort siehst du die positive Auswirkung deiner Hilfe und auch, wer sonst noch mitgeholfen hat.'}}
            </div>
        
            <div class="mobileonly">
                <a class="promotion-image-mobile" href="/hotspot?li_id={{this.li_id}}">
                    <img src="/image/{{this.pr_gift_image_reference}}_500">
                </a>
            </div>
        
        
        </div>    
        
         <div class="twocolumn40 computeronly">
    
                <a class="" style="border-radius: 0.5em 0.5em 0.5em 0.5em; vertical-align: bottom; display: inline-block; width: 100%;" href="/hotspot?li_id={{this.li_id}}">
                    <img src="/image/{{this.pr_gift_image_reference}}_500" style="max-width: 80%; border-radius: 0.5em 0.5em 0.5em 0.5em;">
                </a>
        </div>    
    </div>
</div>


