<div class="promotion-title-box title">

    <div class="onecolumn" style="display:inline-block; margin:0.5em; width: 95%;">
    
        <div class="mobileonly promotion-icon">
            <img src="/images/{{this.pro_icon}}">
        </div> 
        <div class="computeronly promotion-icon" style="background-image:url(/image/{{this.pr_gift_image_reference}})">
            <!-- <img src="/image/{{this.pr_gift_image_reference}}"> -->
        </div>                          
        
        <div class="computeronly promotion-title-content">
            <div class="promotion-date-title">
                {{this.cu_full_name}}: {{formatDate this.pr_start_time "short"}}
            </div> 
             <div class="promotion-title-title">
                 {{this.pr_name}}
             </div> 
            <div class="promotion-content-text">
				<b style="text-transform: uppercase;" ></b> 
                {{this.pr_gift_comment_short}}
            </div>
        </div>    
        
       <div class="mobileonly promotion-title-content">
            <div class="promotion-content-text">
                <b style="text-transform: uppercase;" >{{this.pr_name}}</b> 
                {{this.pr_gift_comment_short}}
            </div>
        </div>    
    </div>    
    
    <div class="onecolumn computeronly" style="margin:0.5em;">
        <div style="border-top: 1px solid #ecebeb;">
            <div class="promotion-title-subheader">
                {{t 'läuft noch bis'}} <div class="promotion-title-title promotion-highlight-color" style="display:inline-block;">{{this.pr_end_time_string}}</div>               
            </div>
        </div>
        <div class="" style="margin-top:0.3em; padding:0.1em; border-radius: 0.2em; border: 1px solid #ecebeb;">
            <div class="" style="margin:0.1em; background-color: #9F0E0E; width:{{this.pr_duration_percentage}}; height: 0.5em; border-radius: 0.2em;">
            </div>
        </div>
       
        <div class="" style="text-align:center;" >
            <a class="ui basic blue button" href="/preregister?pri_id={{this.pr_instance_id}}&pr_gift_units_per_count={{this.pr_gift_units_per_count}}" style="margin-top: 1.5em; margin-bottom: 1.5em; font-size:0.9em; border-radius: 0.5em 0.5em 0.5em 0.5em;">
	            <i class="fa fa-heart fa-fw"></i>
	            {{t 'Ja, da kann ich helfen...'}}
	        </a>
        </div>
    </div>    
    
</div>