<div class="ui info message" style="width:100%;">
  <div class="header">
    {{t 'systemmessagetitle'}}
  </div>
  <p>{{{t 'systemmessagetext'}}}
  </p>
</div>
<div class="ui basic white segment"></div>