    <div class="ui basic vertical segment" style="height:5vh;"></div>
    <div class="ui basic vertical segment"></div>
    <div class="ui basic vertical segment banner-image" >    
            <a href="/" class="ui centered small image">
                <img src="/images/johanniterkreuz.png" style="position: relative; left: 30px; top: 30px;" />
            </a>
    </div>
    <div class="ui basic segment"></div>
