
html, body {
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif !important;
    font-weight: 400;
}

body {
      background-color: #FEFEFE;
    }
body > .grid {
      height: 100%;
    }

.image {
      //margin-top: -100px;
    }
    
.column {
	//max-width:450px;
    }


.ui.header
{
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif !important;
}




.webapp-background
{
    height: 100vh;
    background-color: #2185D0 !important;
}




.hidden.menu {
	display: none;
}


.landpage-image 
{
    height: 100vh;
	background-image: url(/images/grex-keyvisual.jpg) !important;
	background-repeat: no-repeat;
	background-size: cover !important;
	background-position: center !important;
	background-position-x: 50%;
    background-position-y: 50%;
    
    -webkit-background-size:cover;
    
}

.parallax 
{
  height: 100vh;
  background-position: 10% 50% !important;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background-size: cover;
  -webkit-background-size:cover;
}


.landpage-icon
{
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);	
  color: #FFFFFF;
}

.landpage-title 
{
  font-size: 56px !important;
  padding-top: 70vh !important;
  padding-bottom: 5hv !important;
  #line-height: 700px !important;
  font-weight: 300 !important;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif !important;
    
}

.event-image 
{
    height: 100vh;
    background-image: url(/images/grex-event_banner.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover !important;
}







.masthead.segment 
{
    max-height: 100vh;
    padding: 1em 0em;
}




.ui.segment.padding 
{
    padding-top: 50px;
}


.ui.mega.header
{
    font-size: 4em;
    font-weight: 400;
}

.ui.vertical.stripe {
	padding: 8em 0em;
}

.ui.vertical.stripe h3 {
	font-size: 2em;
}

.ui.vertical.stripe .button+h3,.ui.vertical.stripe p+h3 {
	margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
	clear: both;
}

.ui.vertical.stripe p {
	font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider 
{
	margin: 3em 0em;
}

.quote.stripe.segment {
	padding: 0em;
}

.quote.stripe.segment .grid .column {
	padding-top: 5em;
	padding-bottom: 5em;
}

.footer.segment {
	padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
	display: none;
}

@media only screen and (max-width: 700px) 
{
	.secondary.pointing.menu .item,.secondary.pointing.menu .menu {
		display: none;
	}
	.secondary.pointing.menu .toc.item {
		display: block;
	}
	.masthead.segment {
		min-height: 350px;
	}
	.masthead h1.ui.header {
		font-size: 2em;
		margin-top: 1.5em;
	}
	.masthead h2 {
		margin-top: 0.5em;
		font-size: 1.5em;
	}
	
    .landpage-title 
    {
      font-size: 28px !important;
      padding-top: 100px !important;
      padding-bottom: 50px !important;
    }
    
    .landpage-image 
	{
	    height: 70vh;
	}
    
    
}
	
	
/* fix iOS bug not displaying 100vh correctly */
/* ipad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) 
{
    .landpage-image 
    {
        height: 768px;
        background-attachment: scroll !important;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .landpage-image {
        height: 1024px;
        background-attachment: scroll !important;
    }
}
/* iphone5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    .landpage-image {
        height: 320px;
        background-attachment: scroll !important;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    .landpage-image {
        height: 568px;
        background-attachment: scroll !important;
    }
}
/* iPhone 4 */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    .landpage-image {
        height: 320px;
        background-attachment: scroll !important;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    .landpage-image {
        height: 480px;
        background-attachment: scroll !important;
    }
}
