<div class="container">  

  <h3 class="center">Password Reset für JoReDa Account</h3>
  
  <br />
  
  <p>Klicke bitte auf den <a href="{{link}}">Link</a> um dein Password zurückzusetzen. </p>

  <br />
  
  <p>Danke,</p>
    
  <p>Das Team von JoReDa</p>

  <br />

  <p class="center small">Falls der Link nicht klickbar ist, bitte kopiere die folgende URL in den Browser und öffne sie.</p>  
  <p class="center small">{{link}}</p>  
    
</div>
