
<script>
    $(document).ready(function()
    {
        $('.ui.form').form(
        {
            fields :
            {
                email :
                {
                    identifier : 'email',
                    rules :
                    [
                    {
                        type : 'empty',
                        prompt : 'Please enter your e-mail'
                    },
                    {
                        type : 'email',
                        prompt : 'Please enter a valid e-mail'
                    } ]
                },
                password :
                {
                    identifier : 'password',
                    rules :
                    [
                    {
                        type : 'empty',
                        prompt : 'Please enter your password'
                    },
                    {
                        type : 'length[4]',
                        prompt : 'Your password must be at least 4 characters'
                    } ]
                }
            }
        });
    });

    $('#signup_button').click(function()
    {
        $.get('/signup');
    });
</script>


<div class="pusher">

    {{> header_nologin}}

    <div class="ui basic vertical padding segment"></div>
{{> logo_large}}
    <div class="ui basic padded segment"></div>

    <div class="ui basic vertical segment">
        <div class="ui one column centered stackable grid container">
            <div class="eleven wide column">
                <form action="/login" method="POST" class="ui form">

                    {{#if message}}
                    <div class="ui attached negative message">
                        <div class="header">Hallo {{ user.us_nickname }}</div>
                        <p>{{ message }}</p>
                    </div>
                    {{else}}
                    <div class="ui attached message">
                        <div class="header">Willkommen</div>
                        <p>Mit dem JoReDa Backoffice werden die Standorte und Hilfsanfragen verwaltet. Logge dich mit einer registrierten eMail und dem Password ein.</p>
                    </div>
                    {{/if}}


                    <div class="ui attached segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i> <input type="text" name="email" placeholder="E-mail address">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i> <input type="password" name="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="ui basic blue submit button">Login</div>
                        
                        <a href="/forgot">Password vergessen?</a>
                        
                    </div>
                </form>
                
	            <div class="ui horizontal divider">Oder</div>
	
	            <div class="nine wide center aligned column">
	
	                <form action="/signup" method="GET" class="ui form">
	                    <div class="ui basic blue submit button">Registrieren mit eMail</div>
	                </form>
	
	            </div>
            </div>



        </div>
    </div>

    <div class="ui basic segment"></div>

</div>







{{> footer}}


