{{> header_webapp}}

<script>
    $(document).ready(function()
    {
        $('.ui.form').form(
        {
            fields :
            {
                us_pw :
                {
                    identifier  : 'password',
                    rules :
                    [
                    {
                        type : 'empty',
                        prompt : '{{t 'Please enter your password'}}'
                    },
                    {
                        type : 'length[8]',
                        prompt : '{{t 'Your password must be at least 4 characters'}}'
                    } ]
                },
                us_confirmation :
                {
                    rules :
                    [
                    {
                        type : 'empty',
                        prompt : '{{t 'Please enter your password'}}'
                    },
                    {
                        type : 'match[us_pw]',
                        prompt : '{{t 'Die zweite Zeile muss gleich sein wie die erste Zeile'}}'
                    } ]
                }
            }
        });
    });
</script>


{{#if message}}
<div id="message_modal" class="ui basic modal">
  <i class="important icon"></i>
  <div class="header">
    {{message}}
  </div>
  <div class="actions">
    <div class="ui basic inverted deny button">OK</div>
  </div>
</div>
{{/if}}



<div class="pusher">
    
    {{> vertical_banner}}
    
    <div class="ui basic vertical segment">
    
        <div class="ui one column centered stackable grid container">
    
            <div class="nine wide column">
    
                <form action="/reset?token={{token}}" method="POST" class="ui form">
    
                    {{#if message}}
                    <div class="ui attached negative message">
                        <div class="header">{{t 'Hallo'}} {{ user.us_nickname }}</div>
                        <p>{{ message }}</p>
                    </div>
                    {{else}}
                    <div class="ui attached message">
                        <div class="header">{{t 'Hallo'}},</div>
                        <p>{{t 'bitte hier das neue Password und die Kopie als Bestätigung eingeben.'}}</p>
                    </div>
                    {{/if}}
    
                    <div class="ui attached segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i> <input type="password" name="us_pw" placeholder="{{t 'Neues Password'}}">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i> <input type="password" name="us_confirmation" placeholder="{{t 'Password Bestätigung'}}">
                            </div>
                        </div>
                        <div class="ui basic blue submit button">{{t 'Password ändern'}}</div>
                        <div class="ui error message"></div>
                    </div>
                </form>
            </div>
    
            <div class="ui horizontal divider">{{t 'Oder'}}</div>
    
            <p>{{t 'Zurück zur'}} <a href="/login">{{t 'Login'}}</a> {{t 'Seite'}}</p>
    
        </div>
    </div>
    
    
    <div class="ui basic segment"></div>
    
</div>


{{> footer}}

