{{> header_webapp}}


<script type="text/javascript">
$(document).ready(function() 
{
	$('.ui.embed').embed();
});
</script>

<div class="pusher">
    {{> banner_webapp}}
     <div class="ui basic vertical segment"></div>
    

    <div class="ui basic vertical segment">
        <div class="ui one column stackable centered grid container">
            <div class="ui row" style="background-color:#ecebeb; padding-bottom: 70px;">
				{{#if promotions}}
					<div class="ui row">
						<h2 class="ui header headercolor">{{t 'Current Help Request'}}</h2>
					</div>
					<div class="ui row"></div>
					<div class="ui row">
                		<div class="ui fiveteen wide centered column">
							<div class="ui three column stackable grid">
								<div class="cssSlider2">
		        					<input type="radio" name="slider" id="hilfsanfrage_0" checked="checked">
									<input type="radio" name="slider" id="hilfsanfrage_1">
									<input type="radio" name="slider" id="hilfsanfrage_2">
																			
                					<ul class="sliderElements2">
										{{#grouped_each 3 promotions}}
											<li>
												{{#each this }}
													<div class="column">
														{{> promotion_accoridon_landingpage}} 
													</div>
												{{/each}}
											</li>
										{{/grouped_each}}

										
									</ul>
									<ul class="sliderControls2">
										<li><label for="hilfsanfrage_0">0</label></li>
										<li><label for="hilfsanfrage_1">1</label></li>
										<li><label for="hilfsanfrage_2">2</label></li>
                    				</ul>
								</div>
                   			</div>
            			</div>
					</div>
				{{/if}}	
                {{#unless promotions}}
                    <div class="ui one column stackable centered grid container">
            			<div class="ui row">
                    		<div class="ui eleven wide centered column">
                        		<div class="ui compact info message">
                        			<div class="header">
                            			{{t 'Es sind derzeit keine dringenden Hilfsanfragen veröffentlicht'}}
                          			</div>
                          			{{t 'calltoactionnorequests'}}
                        		</div>
                    		</div>
                		</div>
            		</div>
            	{{/unless}}

			</div>
			{{#if promotions}}
				<div class="ui row" style="margin-top: -50px;">
					<form action="/hilfsanfragen/" method="GET" class="ui form">
						<button class="fa fa-heart fa-fw" style="width: 17em; color: #fff; height: 4em; border: none; background-color: #666; text-transform: uppercase;">
							{{t 'All Help Request'}}
						</button>
					</form>	
				</div>
			{{/if}}

   			{{> systemmessage}}       
            
			<div class="ui row">
                <div class="ui eleven wide centered column">
					<div class="ui embed" data-source="youtube" data-id="AzHunNRQndw"></div>			    
		        </div>
            </div>
        </div>
    </div>
    <div class="ui basic segment"></div>
</div>

{{> footer}}

