{{> header_webapp}}

<div class="pusher">
    
    <div class="ui basic segment"></div>
    <div class="ui basic segment"></div>
    <div class="ui basic vertical segment">
        <div class="ui one column stackable centered grid container">
            <div class="ui row">
                <div class="ui twelve wide centered column">
{{> systemmessage}}
{{> intro}}
                    <h2 class="ui header headercolor">{{t 'Aktuelle Anfragen'}}</h2>
                    <p>
                    	{{t 'calltoactionmainpage'}}
                    </p>
                </div>
            </div>

            {{#unless promotions}}
            
            <div class="ui one column stackable centered grid container">
                <div class="ui row">
                    <div class="ui eleven wide centered column">
                        <div class="ui compact info message">
                          <div class="header">
                            {{t 'Es sind derzeit keine dringenden Hilfsanfragen veröffentlicht'}}
                          </div>
                          	{{t 'calltoactionnorequests'}}
                          
                        </div>
                    </div>
                </div>
            </div>
            {{/unless}}

            <div class="ui twelve wide column">
                <div class="ui accordion" >
                  
                    {{#each promotions}}
                    
                        {{> promotion_accoridon_static}}

                    {{/each}}
                  
                </div>
            </div>
        </div>
    </div>
    <div class="ui basic segment"></div>
</div>
{{> footer}}

