{{> header_webapp}}
{{> header_accordion}}

<script type="text/javascript">
<!-- setup of navigation-->
$(document)
.ready(function() 
{
    $('.ui.dropdown')
    .dropdown({
        onChange:  function ( value, text, $selectedItem) {
            if ( value != {{user.us_sorted}}){
                $.post( "/user/sorting", { us_sorting: value }, function( data ) {
                    document.location.reload();
                });
            }
        }
    }) ;
    
    $('.ui.dropdown').dropdown("set selected", {{user.us_sorted}});
});
</script>

<div class="pusher">
    {{> banner_webapp}}
    <div class="ui basic segment mobileonly"></div>
    <div class="ui basic vertical segment">
      <div class="ui one column stackable centered grid container" style="background-color: #ecebeb; padding-bottom: 70px;">
            <div class="ui row">
                <div class="ui wide centered column">

    
                    <h2 class="ui header h2dtitlecolor">{{t 'Aktuelle Anfragen'}}</h2>
                    
                    <span> 
                    
                    		{{t 'Hier siehst du eine Liste der aktuellen Anfragen unserer Hilfsorganisationen sortiert nach '}}
                    
                          <div class="ui inline dropdown">
                            <div class="text">
                              {{t 'Profileinstellungen'}}
                            </div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                              <div class="item" data-value="1">
                                {{t 'Sachspenden zuerst'}}
                              </div>
                              <div class="item" data-value="2">
                                {{t 'Zeitspenden zuerst'}}
                              </div>
                              <div class="item" data-value="3">
                                {{t 'Profileinstellungen'}}
                              </div>
                              <div class="item" data-value="4">
                                {{t 'Distanz'}}
                              </div>
                              <div class="item" data-value="5">
                                {{t 'Restlaufzeit'}}
                              </div>
                            </div>
                          </div>
                    
                    		.<br />
                    		{{t 'Mit dem Suchfeld kannst du die Hilfsanfragen nach einem Stichwort filtern.'}}
                    </span>
                </div>
                    
                    
                <div class="ui five wide centered column">
		            <div class="ui basic center aligned text segment">
						<form class="ui small form" action="/hilfsanfragen" method="get">
						    <div class="field">
					            <div class="ui input">
				  			        <input name="us_search" type="text" placeholder="" value="{{us_search}}" />
								    <button class="right attached ui small basic icon button" type="submit" style="margin-top:1px; margin-bottom:1px; margin-left:0px; ">
					  					<i class="search icon"></i>
				  					</button>
							    </div>
						 	</div>
						</form>
		            </div>
                </div>
                    
                    
                    
            </div>

            {{#unless promotions}}
            <div class="ui one column stackable centered grid container">
                <div class="ui row">
                    <div class="ui eleven wide centered column">
                      {{> nothing_found}}                        
                    </div>
                </div>
            </div>
            {{/unless}}

            <div class="ui wide column">
                <div class="ui fluid accordion" >
                  
                    {{#each promotions}}

                        {{> promotion_accoridon}}

                    {{/each}}
                  
                </div>
            </div>
        </div>
    </div>
    <div class="ui basic segment"></div>
</div>

{{> footer}}

