
<script>
    $(document).ready(function()
    {
        $('.ui.form').form(
        {
            fields :
            {
                email :
                {
                    identifier : 'email',
                    rules :
                    [
                    {
                        type : 'empty',
                        prompt : '{{t 'Please enter your e-mail'}}'
                    },
                    {
                        type : 'email',
                        prompt : '{{t 'Please enter a valid e-mail'}}'
                    } ]
                }
            }
        });
        
        
        {{#if message}}
           $('#message_modal').modal({}).modal('show');
        {{/if}}

    });
</script>

{{#if message}}
<div id="message_modal" class="ui basic modal">
  <i class="important icon"></i>
  <div class="header">
    {{message}}
  </div>
  <div class="actions">
    <div class="ui basic inverted deny button">{{t 'OK'}}</div>
  </div>
</div>
{{/if}}

<div class="pusher">
    {{> vertical_banner}}
    <div class="ui basic vertical segment">
        <div class="ui one column centered stackable grid container">
            <div class="nine wide column">
                <form action="/forgot" method="POST" class="ui form">
    
                    <div class="ui attached message">
                        <div class="header">{{t 'Hallo,'}}</div>
                        <p>{{t 'hier kannst du dein Password zurücksetzen. Bitte gebe dazu die eMail Adresse ein, die du für die Registrierung verwendet hast.'}}</p>
                    </div>
    
                    <div class="ui attached segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i> <input type="email" name="email" placeholder="{{t 'E-mail address'}}">
                            </div>
                        </div>
                        <div class="ui red submit button">{{t 'Neues Password anfordern'}}</div>
                    </div>
                </form>
	            <div class="ui horizontal divider">{{t 'Oder'}}</div>
	            <p>{{t 'Zurück zur '}}<a href="/login">{{t 'Login'}}</a> {{t 'Seite'}}</p>
	        </div>
        </div>
    </div>
    <div class="ui basic segment"></div>
</div>
{{> footer}}

