{{> header_webapp}}
<div class="pusher">
    <div class="ui text basic segment">    </div>
    <div class="ui text basic segment">    </div>
    <div class="ui basic vertical segment">
        <div class="ui one column stackable centered grid container">
            <div class="ui row">
                <div class="ui eleven wide centered column">
			        <h2 class="ui dividing header">{{t 'Kontakt finden'}}</h2>
			            <p>
			                {{t 'Wir freuen uns von dir zu hören. Dein help2day Team.'}}
			            </p>
			        <h3>{{t 'eMail'}}</h3>
			            <p>
			                <a href="mailto:info@helfen-tut-gut.de">info@helfen-tut-gut.de</a>
			            </p>
			        <h3>{{t 'Telefon'}}</h3>
			            <p>
			                <a href="tel:+49 30 844 xxxxx">+49 30 844 xxxxx</a>
			            </p>  
			    </div>
		    </div>
	    </div>
    </div>
    <div class="ui basic segment">
    </div>
</div>
{{> footer}}
