{{> header_webapp}}
{{> header_accordion}}

<div class="pusher">
    {{> banner_webapp}}

    <div class="ui basic vertical segment"></div>

    {{#unless user.us_is_registered}}
    <div class="ui basic vertical segment">
        <div class="ui one column stackable grid container">
            <div class="ui row">
                <div class="ui eleven wide centered column">
                    <div class="ui compact info message">
                        <div class="header">
                            {{t 'Anonymer Account'}}
                        </div>
                        <a href="/login">{{t 'Registriere'}}</a> 
                        {{t 'dich bitte um deine Hilfeleistungen in Erinnerung zu halten und damit wir dich später erreichen können, falls es ganz dringende Hilfsanfragen gibt.'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/unless}}

    <div class="ui basic vertical segment">
        <div class="ui one column stackable centered grid container">
            <div class="ui row">
                <div class="ui wide centered column">
                    <h2 class="ui header centered">
                        <a class="label" style="display:block;" href="#inactive">
                            {{t 'Deine Hilfeleistungen'}}
                        </a>
                    </h2>
    <!-- </div>
    <div class="ui center aligned basic vertical segment" > -->
                    <div style="position:relative; display:inline-block; text-align:center; width: 100%;">
                    <div style="position:absolute; top:0.8em; font-size:2.3em; color:#fff; text-align:center;  width:100%;">{{user.us_gift_count}}</div>
                        <a class="ui" style="color:#222;" href="/settings">
                            <i class="fa fa-heart fa-fw" style="font-size:5.4em; color:#9F0E0E !important;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui basic vertical segment">
        <div class="ui one column stackable centered grid container" style="background-color: #ecebeb;">
            <div class="ui row" style="margin-bottom:-1em;">
            <div class="ui eleven wide centered column">
                <h2 class="ui header centered promotion-highlight-color open">{{t 'offene Hilfsleistungen'}}</h2>
            </div>
        </div>

        <div class="ui row">
            <div class="ui wide column">
                <div class="ui fluid accordion" >
                  
                    {{#each current_tickets}}
                        {{#if this.gi_is_active}}                                 
                            {{> promotion_accordion_status}}
                        {{/if}}
                    {{/each}}
                  
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="ui basic vertical segment">   
        <div class="ui one column stackable centered grid container" style="background-color: #ecebeb;">
            <div class="ui row" style="margin-bottom:-1em;">
            <div class="ui wide centered column">
                <h2 class="ui header centered promotion-highlight-color done" id="inactive">{{t 'erbrachte Hilfe'}}</h2>
            </div>
        </div>
    
        <div class="ui row">
            <div class="ui wide column">
                <div class="ui fluid accordion" >
                  
                    {{#each current_tickets}}
                        {{#unless this.gi_is_active}}                                 
                            {{#if this.gi_is_redeemed}}
                                {{> promotion_accordion_status_done}}
                            {{/if}}
                        {{/unless}}
                    {{/each}}
                  
                </div>
            </div>
        </div>
        </div>
    </div>

<!--<h2 class="ui header">
               <a class="ui" style="color:#222;" href="/settings">{{user.us_nickname}}</a>
        </h2>-->
    
    <div class="ui basic segment"></div>
    <div class="ui basic segment"></div>
</div>
      
{{> footer}}
      
      