
<script>
    $(document).ready(function()
    {
        $('.ui.form').form(
        {
            fields :
            {
                email :
                {
                    identifier : 'email',
                    rules :
                    [
                    {
                        type : 'empty',
                        prompt : '{{ t 'Please enter your e-mail'}}'
                    },
                    {
                        type : 'email',
                        prompt : '{{ t 'Please enter a valid e-mail'}}'
                    } ]
                },
                password :
                {
                    identifier : 'password',
                    rules :
                    [
                    {
                        type : 'empty',
                        prompt : '{{ t 'Please enter your password'}}'
                    },
                    {
                        type : 'length[8]',
                        prompt : '{{ t 'Your password must be at least 4 characters'}}'
                    } ]
                }
            }
        });
        
        {{#if message}}
        $('#message_modal').modal({}).modal('show');
        {{/if}}
        
    });
</script>







{{#if message}}
<div id="message_modal" class="ui basic modal">
  <i class="important icon"></i>
  <div class="header">
    {{message}}
  </div>
  <div class="actions">
    <div class="ui basic inverted deny button">OK</div>
  </div>
</div>
{{/if}}








<div class="pusher">

    {{> vertical_banner}}

    <div class="ui basic vertical segment">
        <div class="ui one column centered stackable grid container">
            <div class="nine wide column">
                <form action="/login" method="POST" class="ui form">
                    <div class="ui basic segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i> <input type="email" name="email" placeholder="{{ t 'E-mail address'}}">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i> <input type="password" name="password" placeholder="{{ t 'Password'}}">
                            </div>
                        </div>
                        <button class="ui basic blue submit button">{{ t 'Login'}}</button>
                        
                        <a href="/forgot">{{ t 'Password vergessen?'}}</a>
                        
		                <div class="ui error message">
	                    </div>
                    </div>
                </form>

	            <div class="ui horizontal divider">{{ t 'Oder'}}</div>
            
                <form action="/signup" method="GET" class="ui form">
                    <button class="ui basic blue submit button">{{ t 'Registrieren mit eMail'}}</button>
                </form>
            
            </div>
        </div>
    </div>
</div>

<div class="ui basic segment">    </div>
    
{{> footer}}

