 {{> header_webapp}}
<div class="pusher">
     {{> banner_webapp}}
    <div class="ui basic segment"></div>
    <div class="ui basic segment"></div>
    <div class="ui basic vertical segment">
        <div class="ui one column stackable centered grid container">
            <div style="background-color:#ecebeb; padding-bottom: 70px;">
                <div class="ui eleven wide column">
                    <div class="ui basic center aligned segment" style="margin-top: 1em">
                        <h2 class="ui header">
                            <div class="content">{{t 'Standorte'}}</div>
                        </h2>
                    </div>
                </div>
                <div class="ui fifteen wide column">
                    <div class="ui stackable three cards">
                
                        {{#each hotspots}}
                            <div id="{{this.li_id}}" class="card">
                                <div class="content">
                                    <div class="description">
                                        <a class="left floated tiny ui image" href="/hotspot?li_id={{this.li_id}}"> 
									    <img src="image/{{this.li_image_ref}}_500">
									    </a>
                                        <a href="/hotspot?li_id={{this.li_id}}">{{this.li_comment}}</a>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <!--<a class="ui" href="https://{{{this.li_promotion}}}">{{this.li_promotion}}</a>-->						                                
                                    {{{truncate this.li_detail 50 (concatstring '/hotspot?li_id=' this.li_id  ) }}}                                                                                                                       
                                </div>
                                <div class="footer content" style="color: rgba(0, 0, 0, 0.4);">
                                    <span class="right floated">
                                        <i class="eye icon"></i> {{this.li_view_count}}
                                    </span>
                                </div>
                            </div>
                        {{/each}}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui basic segment"></div>
    <div class="ui basic segment"></div>
</div>
{{> footer}}

