{{> header_webapp}}
{{> header_accordion}}

<div class="pusher">
	
    <div class="ui basic segment"></div>
    <div class="ui basic vertical segment">

        <div class="ui one column stackable centered grid container">
            <div class="ui row">
                <div class="ui twelve wide centered column">
                    <h2 class="ui header headercolor" >{{t 'Aktuelle Anfragen'}}</h2>
                    <p>
                   		{{t 'Hier siehst du eine Liste der aktuellen Anfragen unserer Hilfsorganisationen. Mit der Suche kannst du nach Stichworten filtern.'}}
	                </p>
                </div>
                
                <div class="ui five wide centered column">
		            <div class="ui basic center aligned text segment">
						<form class="ui small form" action="/hilfsanfragen" method="get">
						    <div class="field">
					            <div class="ui input">
				  			        <input name="us_search" type="text" placeholder="" value="{{us_search}}" />
								    <button class="right attached ui small basic icon button" type="submit" style="margin-top:1px; margin-bottom:1px; margin-left:0px; ">
					  					<i class="search icon"></i>
				  					</button>
							    </div>
						 	</div>
						</form>
		            </div>
                </div>
            </div>

            {{#unless promotions}}
            
            <div class="ui one column stackable centered grid container">
                <div class="ui row">
                    <div class="ui eleven wide centered column">
{{> nothing_found}}                        
                    </div>
                </div>
            </div>
            
            {{/unless}}

	        <div class="ui one column stackable centered grid container">
	            <div class="ui row">
		            <div class="ui twelve wide column">
		                <div class="ui accordion" >
		                  
		                    {{#each promotions}}
		                    
		                        {{> promotion_accoridon_static}}
		
		                    {{/each}}
		                  
		                </div>
		            </div>
		        </div>
	        </div>
	    </div>
    </div>
    <div class="ui basic segment"></div>
</div>

{{> footer}}

