{{> header_webapp}}

<div class="pusher">

    <div class="ui basic vertical segment">    </div>
    <div class="ui basic vertical segment">    </div>
    <div class="ui basic vertical segment">    </div>

    <div class="ui center aligned basic vertical segment">
    
        <h1 class="ui header">
            <img class="ui small centered circular image" src="/image/{{other.us_image_ref}}">
        </h1>
    
        <h1 class="ui header">
            {{other.us_nickname}}
        </h1>

    </div>

    <div class="ui one column stackable grid container">
    
        <div class="ui row">
            <div class="ui eight wide centered column">
                <div class="ui basic centered segment">
                    {{#if other.us_about_me}}
                    <div class="user-about" style=""> {{other.us_about_me}} </div>
                    {{else}}
                    <div class="user-about" style=""> {{other.us_nickname}} {{t 'hat leider keine öffentliche Nachricht eingestellt. Falls du auch keine Nachricht eingestellt hast, kannst du das in den Kontaktinformationen ändern.'}} </div>
                    {{/if}}
                </div>        
            </div>
        </div>
    
        <div class="ui row">
            <div class="eight wide centered column">
                <div class="ui basic centered center aligned segment">
                    <a class="ui basic blue button" href="/message/form?me_user_id={{other.us_id}}">{{t 'Ein Nachricht senden an'}} {{other.us_nickname}}</a>
                </div>    
            </div>    
        </div>    
    </div>
    
    <div class="ui basic segment">
    </div>
    <div class="ui basic segment">
    </div>
</div>
      
{{> footer}}
