{{> header_webapp}}
{{> header_accordion}}

<div class="pusher">
{{> banner_webapp}}
    <div class="ui basic segment">    </div>
    <div class="ui basic segment">    </div>

    <div class="ui basic vertical segment">

        <div class="ui one column centered stackable grid container">
    
    
            <div class="ui basic vertical center aligned segment">
                <h3>
                    {{t 'Hilfsanfrage'}}
                </h3>
            </div>
            
            <div class="ui row">

                <div class="ui twelve wide column">
                    <div class="ui fluid section" >
                      
                        {{>promotion_accoridon_single}}
                        
                    </div>
                </div>
            </div>

            
            <div class="ui row">
            
                <div class="ui eleven wide column">
                
                    {{> promotion_info_call_to_action}}

                </div>
            
            </div>
            

            
            <div class="ui basic segment">    </div>
            <div class="ui basic segment">    </div>
            <div class="ui basic segment">    </div>
            
        </div>
    </div>
</div>
      
{{> footer}}
      
      